@import "../themeColors";

#new_band {
	position: relative;
	width: 800px;
	margin: 0 auto;
	background-color: $primaryLighten4;
	color: $primaryDarken3;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: auto;
	max-width: 100%;

	h1 {
		margin-top: 15px;
		font-size: 3em;
		text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
	}

	.new-event-button {
		position: absolute;
		top: 2%;
		right: 2%;
	}

	.md-button {
		margin-top: 20px;
	}

	.content {
		padding: 40px;
	}

}

@media screen and (max-width: 768px){
	#new_band {
		height: 100%;

		.content {
			padding: 20px;
		}

		h1 {
			font-size: 2em;
		}
	}
}