@import "../themeColors";
@import "./newContent";
@import "../ContentForms/eventForm";
@import "../ContentForms/tourForm";

#new_event {
	h1 {
		margin-top: 25px;
	}

	.content {
		padding: 40px;
		padding-top: 20px;
	}

}