@import "../themeColors";
@import "./newContent";

#new_event {
	padding-top: 0;

	.close-btn {
		left: 92%;
		top: 15px;
		position: relative !important;
		z-index: 2;
	}

	.event-type-switch {
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		z-index: -1;

		.md-button {
			width: 50%;
			margin: 0;
			line-height: 3.5em;
			background-color: $primaryLighten2;
		}

		.active {
			background-color: $accentDarken2;
			color: $primaryLighten4;
		}
	}

	h1 {
		margin-top: 25px;
	}

	.content {
		padding: 40px;
		padding-top: 20px;
	}

}