@import "../themeColors";
@import "./newContent";

#new_festival {
	padding: 0;

	.close-btn {
		color: $primaryDarken4;
		right: 20px;
	}

	h1 {
		padding-left: 40px;
	}

	.festival-form {
		h3, .md-input-container {
			margin-left: 15px;
		}

		textarea {
			height: 135px !important;
		}

		.datepickers {
			display: flex;
			justify-content: space-evenly;
		}

		.ap-input {
			padding-left: 0;
			margin-left: 15px;
			font-size: 1em;
			margin-left: 0;
			color: rgba(0, 0, 0, 0.87);
		}

		p, h4 {
			margin-top: 10px;
			margin-left: 15px;
			margin-bottom: 0;
			font-size: 12px;
			color: $primaryDarken2;
		}

		.single-form-field {
			width: 100%;
	
			.md-input-container {
				float: left;
				width: calc(100% - 65px);
			}
	
			.md-button {
				float: left;
				margin-left: 0;
				margin-top: 12px;
			}
		}
	
		.add-field-btn {
			margin-top: -5px;
			margin-bottom: 10px;
			margin-left: 10px;
		}

		.vdp-datepicker__calendar {
			border: none;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

			header {
				display: flex;
				box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				span {
					color: $primaryLighten5;
					background-color: $accentAccent2;
				}

				.prev:after {
					border-right-color: $primaryLighten5;
				}

				.next:after {
					border-left-color: $primaryLighten5;
				}
			}

			.cell:hover {
				border-color: $primaryLighten4;
				background-color: $primaryLighten4;
			}

			.selected {
				color: $primaryLighten5;
				background-color: $accentAccent2;
				border: none;
			}
		}
	}
}