@import "../themeColors";
@import "./newContent";

#new_festival {
	padding: 0 !important; 
	position: relative;
	width: auto !important;
	// box-shadow: none !important;

	.form-intro {

		.creation-prompt {
			max-height: 500px;
		}

		.not-sure-prompt {
			margin-top: 30px;

			span {
				color: $accentAccent2;
				cursor: pointer;

				.md-icon {
					height: 16px;
					width: 16px;
					min-width: 0;
					min-height: 0;
					margin-top: -2px;
					font-size: 16px;
				}
			}
		}

		.festival-list {
			max-height: 100px;
			width: 300px;
			margin: 0 auto;
		}

		.create-existing {
			max-height: 500px;
			margin-top: 15px;
			

			.big-check {
				width: 50px;
				height: 50px;
				margin-bottom: 5px;
				font-size: 45px;
				color: #4CAF50;
				border: 3px solid #4CAF50;
				border-radius: 50px;
			}

			.check-again {
				color: $accentAccent2;
				cursor: pointer;
			}
		}
	}

	.festival-form {
		width: 900px;
		max-width: 100%;
		transition: width .4s ease-out;

		.select-existing-festival {
			.dropdown-menu {
				padding: 0;
				max-height: 85px !important;
			}
		}

		h3, .md-input-container {
			margin-left: 15px;
		}

		.single-form-field {
			float: left;
		}

		.add-field-btn {
			margin-top: 15px;
		}

		.heading-additional-info {
			margin-top: -15px;
		}

		textarea {
			height: 135px !important;
		}

		.ap-input {
			padding-left: 0;
			margin-left: 15px;
			font-size: 1em;
			margin-left: 0;
			color: rgba(0, 0, 0, 0.87);
		}

		p, h4 {
			margin-top: 10px;
			margin-left: 15px;
			margin-bottom: 0;
			font-size: 12px;
			color: $primaryDarken2;
		}
	}
}

@media screen and (max-width: 768px) {
	#new_festival {
		min-height: 100vh;
		padding: 0 !important;

		div {
			transition: max-height 0s ease-out !important;
		}

		.form-intro {
			padding: 0;
		}

		.back-to-selection-btn {
			left: 0;
			margin-left: 0;
		}

		.festival-form {

			.md-input-container, h4, p, h1, h3 {
				margin-left: 5px;
			}

			.stepper-body {
				padding: 20px 10px;
			}

			.step {
				padding: 0;
			}
		}
	}
}