@import "../themeColors";
@import "./newContent";
@import "../ContentForms/eventForm";
@import "../ContentForms/tourForm";

#new_event {
	h1 {
		margin-top: 25px;
	}

	.content {
		padding: 40px;
		padding-top: 20px;
	}

	.datepicker-trigger {
		min-width: 200px;
	}

	.event-location {
		#search_select {
			margin-top: 0px;
			.select-overlay {
				position: absolute;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
			}
		}
	}

	.band-input {
		display: flex;
	}
}