.similar-dialog {
    .md-dialog {
        .similar-event {
            margin-bottom: 15px;
            padding: 10px 15px;
            background-color: $primaryLighten4;
            border-radius: 3px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            a {
                color: $primaryDarken4;
                display: flex;
            }

            .similar-event-info {
                flex: 1;
                padding-right: 10px;
            }

            h3 {
                margin: 5px 0;
                
                span {
                    float: right;
                    font-size: 0.8em;
                }
            }

            p {
                font-family: "OpenSansBold";

                span {
                    font-family: "OpenSans";
                }
            }

            .bands {
                span {
                    &:after {
                        content: ", ";
                        display: inline;
                    }

                    &:last-of-type:after {
                        content: "";
                    }
                }
            }

            .learn-more-icon {
                display: inline;
                color: $accentAccent2;
            }
        }
    }
}