@import "../themeColors";
@import "../angled-edges";

#app-footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 50px;
	margin-top: -50px;
	background: #151515;
	color: $primaryLighten5;
	font-family: "Montserrat";
	text-align: center;
	line-height: 30px;
	z-index: 5;
	// @include angled-edge("outside top", "upper left", #151515, 50);
	clip-path: polygon(
		0 50%, /* left top */
		100% 0, /* right top */ 
		100% 100%, /* right bottom */
		0 100% /* left bottom */
	);

	a {
		margin: 0 10px;
		color: $primaryLighten5;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: 0%;
			height: 1px;
			bottom: 0;
			left: 0;			
			background-color: $accentAccent2;
			-webkit-transition: width 0.3s ease-in-out 0s;
			transition: width 0.3s ease-in-out 0s;
		}

		&:hover {
			&:before {
				width: 105%;
			}
		}
	}

	.icon-info{
		font-size: 11px;

		a {
			margin: 0;
		}

		&:last-of-type {
			margin-top: -10px;
		}
	}
 }

 @media screen and (max-width: 768px) {
	 #app-footer {
		padding-top: 30px;
		clip-path: polygon(
			0 20%, /* left top */
			100% 0, /* right top */ 
			100% 100%, /* right bottom */
			0 100% /* left bottom */
		);
		 .icon-info { 
			font-size: 8px;
		 }
	 }
 }