@import "../themeColors";

#sidenav {
	position: relative;
	z-index: 7;

	.mobile-toggle-btn {
		display: none;
	}

	.menu-items-list {
		position: fixed;
		left: 0;
		width: 80px;
		height: 100%;
		display: inline;
		padding: 10px 0px;
		background-color: #232323;
		z-index: 3;
		transition: width .3s ease-out, padding .2s ease-out;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

		.menu-item {
			width: 100%;
			margin-bottom: 35px;
			padding: 0 20px;
			height: 40px;
			overflow: hidden;
			position: relative;
			cursor: pointer;

			.md-icon {
				width: 38px;
				height: 38px;
				font-size: 38px;
				color: $accentAccent2;
				text-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
				transition: transform .3s ease-out;
			}

			img {
				height: 40px;
			}

			span {
				opacity: 0;
				margin-left: 15px;
				font-size: 1.15em;
				color: $accentAccent2;
				transition: opacity .3s ease-out;

				.md-icon {
					width: 25px;
					height: 25px;
					font-size: 25px;
					margin-top: -3px;
				}
			}

			&:hover {
				.md-icon, span {
					color: $accentAccent3;
				}

				path {
					fill: $accentAccent3;
				}
			}
		}
	}

	.sub-items {
		position: absolute;
		width: 250px;
		margin-left: 85px;
		margin-top: -80px;
		background-color: #232323;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		border-radius: 3px;
		opacity: 0;
		visibility: hidden;
		transition: opacity .2s ease-out;

		.indicator {
			display: block;
			width: 60px;
			height: 60px;
			margin-left: -30px;
			font-size: 60px;
			color: #232323;
			position: absolute;
		}

		.sub-item {
			padding: 10px;
			padding-left: 20px;
			margin-bottom: 15px;
			height: 40px;
			overflow: hidden;

			.md-icon {
				width: 30px;
				height: 30px;
				font-size: 30px;
				color: $accentAccent2;
				text-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
				transition: transform .3s ease-out;
			}

			span {
				margin-left: 15px;
				font-size: 1.15em;
				color: $accentAccent2;
				transition: opacity .3s ease-out;
			}

			&:hover {
				.md-icon, span {
					color: $accentAccent3;
				}

				path {
					fill: $accentAccent3;
				}
			}
		}
	}

	.show {
		opacity: 1;
		visibility: visible;
	}

	
	.toggle-menu-btn {
		height: 50px !important;
		margin-bottom: 25px;
		cursor: pointer;

		span {
			opacity: 1 !important;
			margin-left: 0;
		}

		.hamburger {
			padding: 15px 0;
			margin-left: -33px;

			.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
				width: 45px;
				height: 7px;
				background-color: #232323;
				border: 2px solid $accentAccent2;
			}

			.hamburger-inner:before, .hamburger-inner:after {
				margin-left: -2px;
			}
		}

		.is-active {
			.hamburger-inner {
				border: none;
			}
		}
	}

	.expanded {
		.menu-items-list {
			width: 250px !important;
	
			.menu-item {
				span {
					opacity: 1 !important;
				}
			}
			
			.sub-items {
				position: relative;
				width: auto;
				max-height: 0;
				margin-left: 0;
				margin-top: -25px;
				margin-bottom: 30px;
				opacity: 1;
				visibility: visible;
				overflow: hidden;
				background-color: #181818;
				box-shadow: none;
				transition: all .2s ease-out;
				z-index: 7;

				.indicator {
					display: none;
				}
			}

			.show {
				max-height: 200px;
				padding: 5px 10px;
			}
		}
	}

}

@media screen and (max-width: 768px){
	#sidenav {
		.menu-items-list {
			width: 0%;
			padding: 0;
			overflow: hidden;
			overflow-y: scroll;
		}

		.toggle-menu-btn {
			display: none;
		}

		.mobile-toggle-btn {
			display: block;
			position: relative;
			background-color: #232323;
			padding: 0 5px;
			width: 100%;
			transition: all .4s ease-out;
			z-index: 3;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

			.hamburger {
				padding: 9px 3px;
				padding-top: 11px;
				margin-left: 10px;

				.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
					width: 45px;
					height: 7px;
					background-color: #232323;
					border: 2px solid $accentAccent2;
				}

				.hamburger-inner:before, .hamburger-inner:after {
					margin-left: -2px;
				}
			}

			.is-active {
				.hamburger-inner {
					border: none;
				}
			}

			&:hover {
				.md-icon {
					color: #232323;
				}
			}

			.md-icon {
				color: #232323;
			}

			img {
				float: right;
				height: 35px;
				margin-top: 7px;
				margin-right: 10px;
			}
		}
	}

	.expanded {
		.menu-items-list {
			width: 100%;
			padding: 20px 0px !important;

			.menu-item {
				padding: 0 20px;
			}
		}
	}
}