@import "../themeColors";

#sidenav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 100vh;
	z-index: 6;

	.mobile-toggle-btn {
		display: none;
	}

	
	.toggle-menu-btn {
		height: 50px !important;

		span {
			margin-top: 0;
		}

		.hamburger {
			margin-left: -8px;

			.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
				width: 45px;
				height: 7px;
				background-color: #232323;
				border: 2px solid $accentAccent2;
			}

			.hamburger-inner:before, .hamburger-inner:after {
				margin-left: -2px;
			}
		}

		.is-active {
			.hamburger-inner {
				border: none;
			}
		}
	}

	.menu-items-list {
		height: 100vh;
		width: 100px;
		margin: 0;
		padding: 10px 0px;
		background-color: #232323;
		z-index: 13;
		overflow-y: auto;
		overflow-x: hidden;
		transition: width .3s ease-out, padding .2s ease-out;

		.toggle-menu-btn {
			display: flex;
			justify-content: center;
		}

		.menu-item, .sub-items-menu-item {
			height: 60px;
			margin-bottom: 25px;
			overflow: hidden;
			position: static;
			cursor: pointer;

			div, button {
				padding: 0 20px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				svg {
					max-width: 35px;
					max-height: 35px;
				}
			}

			span {
				font-size: 0.9em;
				color: $accentAccent2;
			}
		}

		.menu-item:hover {
			.md-icon, span {
				color: $accentAccent3;
			}

			path {
				fill: $accentAccent3;
			}
		}

		.add-content-menu-item {
			svg {
				margin-left: 8px;
			}
		}
	}

	.sub-items-menu-item {	
		&:hover {
			.indicator {
				color: $accentAccent3;
			}
		}

		.menu-item {
			margin-bottom: 0;
		}
	
		.indicator {
			position: absolute;
			right: 5px;
			margin-top: -50px;
			color: $accentAccent2;
			font-size: 16px;
			z-index: 13;
		}

		.sub-items {
			position: absolute;
			height: 100px;
			left: -500%;
			margin-top: -80px;
			margin-left: 80px;
			padding: 0 !important;
			background-color: #232323;
			flex-wrap: nowrap !important;
			align-items: center;
			border-radius: 3px;
			z-index: -1;
			transition: left .3s ease-out;
	
			.sub-item {
				width: 100px;
				padding: 10px;
	
				svg {
					width: 30px;
					height: 30px;
					flex-basis: 100%;
				}
	
				span {
					flex-basis: 100%;
					margin-top: 3px;
					font-size: 0.8em;
					line-height: 1.25em;
					color: $accentAccent2;
					text-align: center;
				}
	
				&:hover {
					.md-icon, span {
						color: $accentAccent3;
					}
	
					path {
						fill: $accentAccent3;
					}
				}
			}
		}
	}

	.show {
		left: 0 !important;
	}

	.expanded {
		width: 250px;

		.toggle-menu-btn {
			justify-content: left;
			margin-left: 5px;
		}

		.menu-item, .sub-items-menu-item {
			height: auto;
			padding: 10px 0;

			div {
				flex-wrap: nowrap;
				justify-content: left;
				align-items: center;

				svg {
					width: 40px;
				}

				span {
					font-size: 1.15em;
					margin-left: 15px;
					display: flex;

					.md-icon {
						justify-self: center;
					}
				}
			}	

			.add-content-menu-item {
				svg {
					margin-left: 5px;
				}
				
				span {
					display: block; 
					margin-left: 10px; 
				}
			}
		}		
		
		.sub-items-menu-item {
			padding: 0 !important;
			overflow: visible;

			.indicator {
				display: none;
			}

			.md-icon {
				margin-top: -2px;
			}

			.sub-items {
				position: relative;
				display: block;
				max-height: 0;
				height: auto;
				margin-left: 0;
				margin-top: 0px;
				overflow: hidden;
				background-color: #181818;
				z-index: 0;
				transition: max-height .3s ease-out, margin .2s ease-out, padding .3s ease-out;

				.sub-item {
					width: 100%;
					padding-left: 20px;
				}
			}

			.show {
				max-height: 250px !important;
				margin-top: 10px;
				margin-bottom: -10px;
				padding: 5px 10px !important;
			}
		}
	}

}

@media screen and (max-width: 768px){
	#sidenav {
		height: auto;
		position: fixed;
		width: 100%;
		
		.menu-items-list {
			position: absolute;
			width: 0px;
			max-height: calc(100vh - 59px);
			overflow: hidden;
			transition: width .3s ease-out, padding .2s ease-out;
			z-index: 40;

			.sub-items {
				transition: all .2s ease-out;
			}
		}

		.toggle-menu-btn {
			display: none !important;
		}

		.mobile-toggle-btn {
			display: block !important;
			background-color: #232323;
			padding: 5px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

			.mobile-controls {
				display: flex;
				justify-content: space-between;

				.hamburger {
					padding: 9px 3px;
					padding-top: 11px;
					margin-left: 10px;
	
					.hamburger-inner:before {
						top: 9px;
					}
	
					.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
						width: 45px;
						height: 7px;
						background-color: #232323;
						border: 2px solid $accentAccent2;
					}
	
					.hamburger-inner:before, .hamburger-inner:after {
						margin-left: -2px;
					}
				}
	
				.is-active {
					.hamburger-inner {
						border: none;
						
						&:before {
							top: 0px;
						}
					}
				}
	
				.search-btn {
					margin-left: -15px;
					margin-right: 5px;
					background-color: transparent;
					border: none;
				}
	
				.home-btn {
					margin-right: 15px;

					img {
						height: 35px;
						margin-top: 7px;
					}
				}
			}

			#topbar {
				display: block;
				height: 0px;
				overflow: hidden;
				transition: height .2s ease-in-out;

				.md-toolbar {
					background-color: #232323;
				}

				#follow_buttons {
					a {
						color: $accentAccent2;
					}
				}

				button {
					background-color: $accentAccent2;
				}
			}

			.show {
				height: 110px !important;
			}

			.overflow-visible {
				overflow: visible !important;
			}
		}

		.expanded {
			width: 250px;
			overflow: auto;
			padding: 0px !important;
			padding-bottom: 20px !important;
		}
	}
}