@import "../themeColors";

#cookie_notification {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 40px;
	z-index: 100;
	background-color: $accentAccent2;
	box-shadow: 0 -3px 6px rgba(0,0,0,0.12), 0 -3px 6px rgba(0,0,0,0.24);
	text-align: center;

	h1 {
		font-size: 1.5em;

		a {
			color: $primaryLighten4;

			&:hover {
				color: $primaryLighten3;
				text-decoration: underline !important;
			}
		}
	}

	.md-button {
		background-color: $primaryDarken4;
		color: $primaryLighten4;
		font-size: 1.4em;
		font-family: "Montserrat";
		padding: 5px 10px;
		border-radius: 3px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
	}
}

@media screen and (max-width: 768px) {
	#cookie_notification {
		padding: 20px;
		h1 {
			text-align: left;
			font-size: 1.2em;
		}

		.md-button {
			font-size: 1em;
		}
	}
}