@import "../themeColors";
@import "./generalForm";

#band_form, .band-form {
	h2 {
		margin-left: 15px;
		margin-bottom: 0;
		color: $primaryDarken2;
	}

	.genre-header {
		p {
			margin-top: 17px;
		}
	}

	.form-content {
		margin-top: 50px;
	}

	.md-input-container {
		box-sizing: border-box;
		margin-left: 15px;
	}

	p {
		margin-top: 10px;
		margin-left: 15px;
		margin-bottom: 0;
		font-size: 12px;
		color: $primaryDarken2;
	}

	.ap-input {
		padding-left: 0;
		margin-left: 15px;
		font-size: 1em;
		margin-left: 0;
		color: rgba(0, 0, 0, 0.87);
	}

	.add-genre-btn {
		margin-top: 10px !important;
	}


	.single-release {
		width: 100%;

		.release-info {
			float: left;
			width: calc(100% - 65px);
			position: relative;

			.release-name {
				float: left;
				width: 60%;
				position: relative;
			}

			.release-year {
				float: left;
				width: calc(40% - 35px);
				position: relative;
			}
		}
	}

	textarea {
		height: 135px !important;
	}

}