@import "../themeColors";
@import "./generalForm";

#tour_form, #event_form, .tour-form, .event-form {
	.calendar-button {
		position: absolute;
		right: 2%;
		top: 7%;
	}

	.form-content {
		margin-top: 50px;
	}

	h2 {
		margin-top: 20px;
		color: $primaryDarken2;
	}

	.md-input-container {
		box-sizing: border-box;
		margin-right: 20px;
	}

	textarea {
		height: 135px !important;
	}

	.event-location {
		position: relative;
		.not-verified-warning {
			position: absolute;
			bottom: -20px;
		}
	}

	.picker {
		box-sizing: border-box;
		display: inline;
		padding: 3px 5px;
		font-size: 1em;
		line-height: 16px;
		border-radius: 4px;

		

		input {
			max-width: 100% !important;
			border: none;
			font-family: 'OpenSans';
			font-size: 1em;
			color: rgba(0, 0, 0, 0.54);
			margin-left: 10px;
			background-color: transparent;
			cursor: pointer;
			border-bottom: 1px solid $primaryLighten2;
		}
	}

	.not-verifiable {
		display: block;
		color: $accentAccent2;
	}
}

@media screen and (max-width: 768px) {
	#event_form, #tour_form {
		h2 {
			margin-top: 40px;
		}
	}
}