@import "./generalForm";

#festival_form {
	h2 {
		padding-left: 15px;
		margin-bottom: 0;
		color: $primaryDarken2;
	}

	.md-input-container {
		box-sizing: border-box;
		margin-left: 15px;
	}

	textarea {
		height: 135px !important;
	}

	.ap-input {
		padding-left: 0;
		margin-left: 15px;
		font-size: 1em;
		margin-left: 0;
		color: rgba(0, 0, 0, 0.87);
	}

	.add-genre-btn {
		margin-top: 10px !important;
	}
	
	p {
		margin-top: 10px;
		margin-left: 15px;
		margin-bottom: 0;
		font-size: 12px;
		color: $primaryDarken2;
	}
}