@import "../themeColors";

#event_form, #band_form, #location_form, #tour_form {
    .single-form-field {
		width: 100%;

		.md-input-container {
			float: left;
			width: calc(100% - 65px);
		}

		.md-button {
			float: left;
			margin-left: 0;
			margin-top: 12px;
		}
	}

	.add-field-btn {
		margin-top: -5px;
		margin-bottom: 10px;
		margin-left: 10px;
	}
}