@import "../themeColors";

#event_form, #festival_form, #festival_event_form, #band_form, #location_form, #tour_form,
.event-form, .festival-form, .festival-event-form, .band-form, .location-form, .tour-form {
	overflow: auto;
	padding: 40px;

	h1 {
		margin-left: 15px;
		font-size: 2.5em;
		// text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
	}

	.asd__wrapper {
		margin: 0 auto;
		border: none;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		border-radius: 3px;

		.asd__change-month-button {
			button {
				border: none;
				background-color: $accentAccent2;
				box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

				svg {
					
				fill: $primaryLighten4;
				stroke: $primaryLighten4;
				}
			}
		}

		
		.asd__day--in-range {
			border: none !important;
			overflow: visible;
			button {
				background-color: $accentLighten4 !important;
			}
		}
		.asd__day--selected {
			border-color: $accentAccent2 !important;
			button {
				background-color: $accentAccent2 !important;
			}
		}
		.asd__selected-date-one, .asd__selected-date-two {
			overflow: visible;
			border-color: rgb(228, 231, 231) !important;
			background-color: transparent !important;
			button {
				box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			}
		}
	}
	
    .single-form-field {
		display: flex;
		width: 100%;
		
		#search_select {
			margin-top: 20px;
			margin-right: 10px;
			margin-bottom: 20px;
		}

		.md-input-container, #search_select {
			float: left;
			width: calc(100% - 65px);
		}

		.md-button {
			float: left;
			margin-left: 0;
			margin-top: 12px;
		}

		.clear {
			bottom: 6px;
		}
	}

	.not-verified-warning {
		float: left;
		margin-left: 5px;
		margin-bottom: 3px;
		color: $accentAccent2;

		.md-icon {
			transform: rotate(180deg);
		}
	}

	.add-field-btn {
		display: block;
		margin-top: 12px !important;
		margin-bottom: 10px;
		margin-left: 10px;
	}

	.submit-button {
		margin-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	#event_form, #festival_form, #festival_event_form, #band_form, #location_form, #tour_form,
	.event-form, .festival-form, .festival-event-form, .band-form, .location-form, .tour-form {
		padding: 10px !important;

		h1 {
			line-height: 1.1em;
		}

		.md-input-container, p, h2, h1 {
			margin-left: 5px !important;
		}

		.selected-tag {
			padding-right: 40px !important;
		}

		.single-form-field {
			.md-input-container, #search_select {
				width: calc(100% - 75px);
				margin-bottom: 20px;
			}
		}
	}
}