@import "../themeColors";
@import "./eventForm";
@import "./generalForm";

#tour_form {
	.tourstop {
		width: 100%;

		.md-input-container, .picker {
			width: 40%;
			margin-top: 0;
			min-height: 0;
			padding-top: 0;
			float: left;
		}

		.picker {
			margin-left: 3%;
			height: 32px;
			padding-bottom: 0;

			.vdatetime {
				width: 100%;
			}

			.vdatetime input{
				width: 80%;
				height: 32px;
				margin: 0;
			}
		}

		.md-button {
			margin: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	#tour_form {
		.tourstop {
			position: relative;
			margin-bottom: 30px;

			.md-input-container, .picker {
				width: 75%;
				margin-top: 0;
				min-height: 0;
				padding-top: 0;
				float: left;
			}

			.md-input-container {
				margin-bottom: 10px;
			}

			.picker {
				padding-right: 0;
			}

			.md-button {
				position: absolute;
				right: 0;
				top: 25px;
			}
		}
	}
}