@import "../themeColors";
@import "./eventForm";
@import "./generalForm";

#tour_form, .tour-form {
	.tourstop {
		position: relative;
		margin-top: 20px;
		width: 100%;


		label {
			margin-top: -16px;
		}

		.md-input-container, .datepicker-trigger {
			width: 40% !important;
			margin-top: 0;
			min-height: 0;
			padding-top: 0;
			float: left;
		}
		
		.not-verified-warning {
			position: absolute;
			bottom: -10px;
			left: 40%;
		}

		.datepicker-trigger {
			label {
				margin-left: 0 !important;
			}
			.md-input-container {
				width: 90% !important;

				input {
					font-size: 14px;
				}
			}
		}

		.location-select {
			margin-top: -3px;

			.selected-tag {
				font-size: 14px !important;
				margin-left: 0;
				padding-left: 0;
			}

			input {
				padding-left: 0;
			}
		}

		.md-button {
			margin-top: -10px !important;
			margin-left: 10px !important;
		}
	}
}

@media screen and (max-width: 768px) {
	#tour_form, .tour-form {
		.tourstop {
			position: relative;
			margin-bottom: 30px;

			.not-verified-warning {
				position: absolute;
				bottom: -20px;
				left: 0%;
			}

			.md-input-container, .datepicker-trigger {
				width: calc(100% - 51px) !important;
				margin-top: 0;
				min-height: 0;
				padding-top: 0;
				float: left;
			}

			.datepicker-trigger {
				margin-bottom: 20px;

				label {
					margin-left: 8px;
				}
				.md-input-container {
					width: 100% !important;
				}
			}

			.md-input-container {
				margin-bottom: 10px;
			}

			.picker {
				padding-right: 0;
			}

			.md-button {
				position: absolute;
				margin-top: 12px !important;
				top: 25px;
			}
		}
	}
}