@import "../themeColors";

#admin {
	margin: 0 auto;
	max-height: 100%;
	height: calc(100vh - 60px);
	width: calc(100% - 80px);
	position: absolute;
	overflow: hidden;
	background-color: $primaryLighten5;

	.router-link-active {
		height: 46px;
	}

	h1 {
		margin-top: 30px;
		font-size: 2.2em;
		color: $primaryDarken3;
	}

	.admin-buttons {
		position: absolute;
		float: right;
		top: 10px;
		right: 30px;

		.md-button {
			display: inline;
			margin: 5px 0;
			margin-right: 10px;
			padding: 5px 10px;
			min-width: 0;
			color: $primaryDarken3;
	
			&:hover {
				color: $primaryDarken2;
			}
		}
	}

	.admin-content {
		height: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		clear: both;
	
		.verify-list {
			overflow: auto;
			width: 33%;
			border-right: 1px solid $primaryLighten2;
			z-index: 1;

			h1 {
				text-align: center;
			}
			
			.md-input-container {
				width: 70%;
				margin: 0 auto;
				margin-bottom: 15px;
			}
			
			.md-list {
				padding: 0;
				background-color: $primaryLighten5;

				.nothing-found-msg {
					text-align: center;
				}
	
				.md-list-item {
					background-color: $primaryLighten5;

					h4 {
						width: 100%;
						padding-right: 10px;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					span {
						font-size: 0.8em;
						color: $primary;
					}
				}
			}

			.md-spinner {
				margin: 0 auto;
			}
		}

	
		.verify-info {
			width: 66%;
			height: 100%;
			padding: 20px 30px;
			padding-bottom: 40px;
			position: relative;
			flex-grow: 1;
			overflow-y: auto;
			background-color: $primaryLighten5;
			z-index: 0;

			#event_form, #festival_form, #festival_event_form, #band_form, #location_form, #tour_form {
				padding: 5px;

				.form-content {
					margin-top: 10px;
				}
			}

			.close-btn {
				display: none;
				position: absolute;
				top: 5px;
				z-index: 2;
			}

			h1 {
				margin-left: 15px;
			}

			.verify-btn {
				margin-top: 40px;

				.md-icon {
					height: auto;
					width: auto;
					font-size: 40px;
					color: #4CAF50;
					border: 2px solid #4CAF50;
					border-radius: 50px;
				}
			}

			.delete-btn {
				margin-top: 40px;

				.md-icon {
					height: auto;
					width: auto;
					font-size: 40px;
					color: $accent;
					border: 2px solid $accent;
					border-radius: 50px;
				}
			}

			.report-form {
				padding: 5px 15px;

				.md-button {
					margin-top: 0;
					color: $primaryLighten4;
				}

				.control-buttons {
					margin-top: 40px;
				}
			}

			.report-target {
				margin: 30px 0;
				a {
					padding: 10px;
					font-size: 18px;
					font-family: "Montserrat";
					background-color: $accentAccent2;
					color: $primaryLighten4;
					border-radius: 3px;
					text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

					.md-icon {
						margin-top: -3px;
					}
				}
			}

			.cancellation-form {
				padding: 5px 15px;
				.md-button {
					margin-top: 0;
					color: $primaryLighten4;
				}

				#event_page {
					margin-bottom: 50px;
					background-color: transparent;
					.color-block, .page-header {
						display: none;
					}

					.content {
						margin: 0;
						padding: 0;
						background-color: transparent;
						box-shadow: none;
					}
				}
			}

			.control-buttons {
				display: flex;
				flex-wrap: wrap;

				.md-button:first-of-type {
					margin-left: 0;
				}

				.dismiss-btn {
					background-color: #4CAF50;

					&:hover {
						background-color: #43A047;
					}
				}

				.delete-btn {
					background-color: $accentAccent2;

					&:hover {
						background-color: $accent;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#admin {
		width: 100%;
		max-height: calc(100% - 49px);

		h1 {
			font-size: 1.4em;
		}

		.admin-buttons {
			position: relative;
			top: 0;
			right: 0;
		}

		.admin-content {
			.verify-list {
				width: 100%;
			}

			.verify-info {
				display: none;

				.close-btn {
					display: block;
				}

				.control-buttons {
					.md-button {
						margin-left: 0;
					}
				}

				.cancellation-form {
					padding: 0;

					#event_page {
						margin-bottom: 0px;
					}

					.control-buttons {
						margin-top: 10px;
						.md-button {
							margin-top: 5px;
						}
					}
				}
			}

			.show-info {
				display: block;
				width: 100%;
				position: absolute;
				z-index: 3;
			}
		}
	}
}