@import "../themeColors";

#login {
	max-width: 500px;
	min-height: 500px;
	padding: 20px 60px;
	margin: 0 auto;  
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $primaryLighten5;

	h2 {
		margin-top: 0;
		font-family: 'Barlow Semi Condensed';
		color: $primaryDarken3;
		font-size: 3em;
	}

	.md-button {
		margin: 0 auto;
	}

	.error-msg {
		color: $accent;
		font-weight: bold;
	}
}