@import "../themeColors";

#login {
	width: calc( 100% - 80px);
	height: 100%;
	padding-bottom: 88px;
	position: absolute;
	background-attachment: fixed;
	background-size: contain;

	.login-card {
		min-height: 100%;
		position: relative;
		padding: 20px 25%;
		margin: 0 auto;  
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $primaryLighten5;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	h2 {
		margin-top: 0;
		font-family: 'Montserrat';
		color: $primaryDarken3;
		font-size: 2.5em;
	}

	.md-button {
		margin: 0 auto;
	}

	.error-msg {
		color: $accent;
		font-family: 'OpenSansBold';
	}
}

@media screen and (max-width: 768px){
	#login {
		width: 100%;
		max-height: calc(100% - 49px);
		
		.login-card {
			height: 100%;
			padding: 20px 5%;
		}
	}
}