@import "../themeColors";

#login {
	width: 100%;
	height: 100%;
	position: absolute;

	.login-card {
		max-width: 500px;
		min-height: 500px;
		max-height: 85%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		padding: 20px 60px;
		margin: 0 auto;  
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $primaryLighten5;
	}

	h2 {
		margin-top: 0;
		font-family: 'Montserrat';
		color: $primaryDarken3;
		font-size: 3em;
	}

	.md-button {
		margin: 0 auto;
	}

	.error-msg {
		color: $accent;
		font-weight: bold;
	}
}

@media screen and (max-width: 768px){
	#login {
		.login-card {
			max-height: none;
			height: 100%;
		}
	}
}