@import "./generalList";

#bands_list {
	.list-item-header {
		p {
			cursor: pointer;
		}
	}

	.band-name {
		width: 45%;
		span {
			font-weight: 600;
		}
	}

	.band-genres, .band-origin {
		width: 30%;
	}

	.band-genres {
		.band-genre {
			&:after {
				content: ", ";
			}
	
			&:last-of-type:after {
				content: "";
			}
		}
	}
	
	.hidden-icon, .learn-more-icon {
		width: 5%;
	}	
}

@media screen and (max-width: 768px) {
	#bands_list {
		.list-item-header {
			margin-top: 50px;
		}
		
		.band-name {
			width: 60%;
		}

		.band-genres {
			width: 35%;
		}

		.band-origin {
			display: none;
		}
	}
}