@import "./generalList";

#events_list {
	.list-item {
		display: flex;
	}

	p {
		margin: 1.15em 0;
	}

	.event-date {
		margin-right: 20px;
		width: 5%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.location-name {
		flex: 1;
	}

	.list-item-header {
		padding: 0 15px !important;
		background-color: #232323 !important;
		color: $primaryLighten5 !important;
		cursor: default !important;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

		p {
			margin: 8px 0;
		}

		.event-date, .item-title {
			margin-right: 20px;
			span {
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.location-name {
			margin-left: -20px;
		}

		.hidden-icon {
			opacity: 0;
		}
	}
}