@import "../themeColors";

#events_search {
	padding-bottom: 60px;

	.logo-link {
		position: absolute;
		z-index: 2;

		img {
			margin-top: 10px;
			margin-left: 15px;
			height: 40px;
		}
	}

	#follow_buttons {
		a {
			color: $primaryLighten5;
		}

		.facebook:hover {
			color: #3B5998;
		}
	
		.instagram:hover {
			color: #8a3ab9;
		}
	
		.mail:hover {
			color: #dddddd;
		}
	
		.paypal:hover {
			color: #009cde;
		}
	
		.twitter:hover {
			color: #1da1f2;
		}
	
		.youtube:hover {
			color: #ff0000;
		}
	}

	.background-img {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background-image: url("/static/d.jpg");
		background-size: cover;
		background-position-x: center;
		background-position-y: top;
	}
	
	.darken {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
	}

	.page-content {
		position: relative;
		width: 100%;
		transform: translateY(calc(50vh - 200px));
		transition: transform .4s ease-out;
	}

	.slide-up {
		transform: translateY(0px);
	}

	h1 {
		text-align: center;
		color: $accentDarken1;
		font-size: 3.5em;
		line-height: 0.9em;
		text-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
	}

	.main-input {
		position: relative;
		width: 1000px;
		max-width: 90%;
		top: 50%;
		margin: 0 auto; 
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.search-input {
		box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
		overflow: visible;
		
		.md-button {
			width: 20%;
			min-width: 0;
			height: 54px;
			float: left;
			margin: 0;
			background-color: $accentDarken1;
			box-shadow: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			color: $primaryLighten4;
			font-family: 'OpenSansBold';
		}
	}

	.search-bar {
		width: 80%;
		min-height: 0;
		height: 54px;
		margin: 0;
		padding: 0;
		padding-left: 10px;
		float: left;
		display: block;
		font-family: 'OpenSans';
		font-size: 16px;
		line-height: 54px;
		background-color: $primaryLighten4;
		border: none;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		transition: font-size .1s ease-out;

		&:focus {
			font-size: 18px;
			outline: none;
		}
	}

	.hide[style] {
		display: none !important;
	}

	.advanced-search {
		color: #232323;

		h3 {
			color: $primaryLighten4;
			padding-left: 20px;
			cursor: pointer;

			.md-icon {
				color: $accent;
			}
		}

		.search-options {
			max-height: 700px;
			padding: 5px 20px;
			padding-bottom: 15px;
			background-color: $primaryLighten4;
			border-radius: 3px;
			transition: max-height .3s ease-out;
			box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);

			.md-input-container {
				min-height: 0;
				margin: 0;
				padding: 0;
			}
		}

		.md-checkbox {
			margin-top: 0;
		}
		
		.location-select {
			display: flex;

			.md-input-container {
				margin-left: 10px;
				
			}

			.md-button-toggle {
				.md-button {
					background-color: $primaryLighten2;
					color: #232323;
				}
	
				.md-toggle {
					background-color: $accent;
					color: $primaryLighten4;
				}
			}

			.algolia-places {
				display: block;
				width: 100%;
			}
	
			.ap-input {
				background-color: $primaryLighten4;
				color: #232323;
				font-size: 16px;
			}

			.ap-input-icon {
				display: none;
			}
	
			.ap-dropdown-menu {
				color: #232323;
			}
		}

		.genre-select {
			.v-select {
				width: 100%;
				position: relative;
			}

			.dropdown-toggle {
				border: none;
			}

			.dropdown-menu {
				height: 11em;
				padding: 0;

				.highlight {
					a {
						background-color: $accent;
					}
				}

				li {
					margin-top: 0;
					line-height: 1em;

					a {
						width: 100%;
						padding: 10px;
						overflow: hidden;
						color: #232323;
					}
				}
			}
		}
	}

	.hide-options {
		padding: 0 !important;
		max-height: 0px !important;
		overflow: hidden;
	}

	.md-spinner {
		display: block;
		margin: 0 auto;
		padding: 20px;
	}

	.results {
		max-width: 90%;
		// width: 1200px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		margin-top: 20px;

		.result-category {
			margin: 0 10px;
			transition: height .3s ease-out;
			transition: width .5s ease-out;

			h2 {
				color: $accentDarken1;
				font-family: "Montserrat";
				font-size: 24px;
				text-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
			}

			.result {			
				background-color: $primaryLighten4;
				margin: 0;
				padding: 10px 20px;
				display: flex;

				&:hover {
					background-color: $primaryLighten2;
					cursor: pointer;
				}

				.result-content {
					flex: 1;

					h3 {
						margin-bottom: 0;
					}

					p:first-of-type {
						margin-top: 0;
					}

					.result-match {
						background-color: $accentAccent2;
						color: $primaryLighten4;
						padding: 0 1px;
						margin: 0 -2px;
					}
				}
			}
		}

		.column-category {
			flex: 1;
			order: 2;
		}

		.expanded-category {
			width: 100%;
			order: 1;
		}

		.more-results-btn {
			color: $primaryLighten4;
			background-color: $accentAccent2;
			padding: 5px;
			margin: 0;
			cursor: pointer;
			text-align: center;

			&:hover {
				background-color: $accentDarken1;
			}
		}

		.no-results {
			flex: 1;
			// margin: 0 10%;
			background-color: $primaryLighten4;
			color: $accentAccent2;
			text-align: center;
			border-radius: 3px;
			box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);

			.md-icon {
				font-size: 30px;
				min-width: 0;
				min-height: 0;
				width: 30px;
				height: 30px;
			}

			h3 {
				&:first-of-type {
					margin-bottom: 0;
				}

				&:last-of-type {
					margin-top: 0;
				}
			}
		}
	}
}

@media screen and (max-width:768px) {
	#events_search {
		background-position: center;
		
		width: 100%;
		max-height: calc(100% - 49px);

		.logo-link {
			display: none;
		}

		.page-content {
			transform: translateY(calc(50vh - 250px));
			
			h1 {
				font-size: 2.5em;
			}

			.search-input {
				
				input {
					font-size: 12px;

					&:focus {
						font-size: 14px;
					}
				}

				.md-button {
					padding: 0 10px;
					font-size: 12px;
				}
			}

			.advanced-search {
				.location-select {
					display: block;

					.md-button-toggle {
						display: flex;
						margin-bottom: 10px;
						justify-content: center;
					}

					.md-input-container {
						margin-left: 0;
					}
				}
			}
		}

		.slide-up {
			transform: translateY(0px);
		}

		.results {
			display: block;
			max-width: 95%;

			.result-category {
				width: auto;
			}

			.expanded-category {
				width: auto;
				flex: 1;
				order: 2;
			}

			.no-results {
				padding: 10px 0;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	#events_search {
		.page-content {

			.search-input {

				.md-button {
					padding: 0 5px;
					// font-size: 10px;
				}
			}
		}
	}
}

@media screen and (max-height: 500px) {
	#events_search {
		padding-bottom: 0px;

		.page-content {
			margin-top: 50px;

			.search-input {

				.md-button {
					padding: 0 5px;
					// font-size: 10px;
				}
			}
		}
	}
}