@import "./generalList";

#events_list {
	
	p {
		margin: 1.15em 0;
	}

	.event-date {
		width: 15%;
		padding-right: 5%;
		box-sizing: border-box;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.location-name, .item-title {
		width: 42.5%;
	}

	.learn-more-icon, .hidden-icon {
		width: 5%;
	}

	.list-item-header {
		.event-date, .item-title, .location-name {
			span {
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	#events_list {
		.event-date {
			width: 20%;
		}

		.item-title, .location-name {
			width: 37.5%;
		}
	}
}

@media screen and (max-width: 768px){
	#events_list {
		.location-name {
			display: none;
		}

		.event-date {
			// display: none;
			width: 40%;
			white-space: pre-wrap;
			font-size: 0.9em;
		}

		.item-title {
			width: 50%;
		}

		.all-items {
			.list-item-header {
				.event-date {
					white-space: nowrap !important;
					font-size: 1em;
				}
			}
		}

		.learn-more-icon {
			min-width: 0;
			min-height: 0;
			width: auto;
			height: auto;
			margin: 0;
		}

		.list-header {
			h1 {
				margin-bottom: 10px !important;
			}

			.header-line {
				.md-button {
					margin-top: 20px !important;
				}
			}
		}
	}
}