@import "./generalList";

#festivals_list {
	.festival-name {
		width: 45%;
	}

	.festival-country, .festival-city {
		width: 25%;
	}

	.hidden-icon, .learn-more-icon {
		width: 5%;
	}

	.list-item-header {
		p {
			span {
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#festivals_list {
		.festival-name {
			width: 55%;
		}

		.festival-city {
			width: 45%;
		}

		.festival-country {
			display: none;
		}
	}
}