@import "../themeColors.scss";

#events_list, #locations_list, #bands_list {
	width: 100%;
	margin: 0;
	padding-bottom: 35px;
	position: relative;
	background-color: $primaryLighten4;
	z-index: 5;

	.md-spinner {
		text-align: center;
		padding: 20px;
		margin: 20px auto;
		display: block;
	}

	.color-block {
		position: absolute;
		width: 100%;
		background-color: $accentAccent2;
		height: 470px;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.show-filters-button {
		display: none;
	}
	
	.list-header {
		margin: 0 20px;
		padding: 20px 30px;
		padding-top: 0px;
		position: relative;
		z-index: 1;
		box-sizing: border-box;

		.header-line {
			display: flex;
		}

		.left-container {
			flex: 1;
			position: relative;
		}
		
		h1 {
			color: $primaryDarken4;
			margin: 0px;
			margin-bottom: 30px;
			padding-top: 30px;
			font-size: 3em;
			text-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);	
		}
		
		a {
			color: inherit;
			position: relative;
			
			&:after {
				content: "";
				width: 0;
				height: 1px;
				margin: 0 auto;
				display: block;
				position: absolute;
				left: 0;
				bottom: -3px;
				background-color: #232323;
				transition: width .3s ease-out;
			}

			&:hover {
				&:after {
					width: 100px;
				}
			}
		}

		.create-content-btn {
			height: 46px;
			margin: auto 0;
			background-color: $primaryDarken4;
			color: $primaryLighten5;
			font-family: 'OpenSansBold';

			.md-icon {
				color: $accentAccent2;
			}
		}

		.filters {
			.starting-letter-filter {
				display: flex;
				margin: 0;
				padding: 0;
				transition: text-shadow .2s ease-in-out;
	
				li {
					display: flex;
					flex-direction: column;
					width: 24px;
					height: 24px;
					margin-right: 10px;
					padding-left: 6px;
					font-size: 16px;
					color: $accentLighten3;

					&:first-of-type {
						margin-top: 8px;
					}

					&:last-of-type {
						padding-right: 3px;
					}
				}

				.available {
					color: #232323;
					cursor: pointer;
					text-shadow: 0 0px 0px rgba(0,0,0,0), 0 0px 0px rgba(0,0,0,0);
				
					&:hover {
						background-color: #232323;
						color: $accentAccent2;
						box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
					}
				}

				.active-start-letter {
					padding: 3px;
					padding-left: 6px;
					background-color: #232323;
					color: $accentAccent2;
					box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);

					div {
						margin-left: -40%;

						.md-icon {
							width: 24px;
							height: 24px;
							min-width: 18px;
							min-height: 18px;
							font-size: 16px;
							background-color: #232323;
							padding: 4px;
							border-bottom-left-radius: 50px;
							border-bottom-right-radius: 50px;
							box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
						}
					}
				}
			}

			.filters-header {
				margin-top: 30px;
			}

			.additional-filters {
				margin-top: 20px;

				.md-input-container {
					// width: 150px;
					height: 30px;
					min-height: 0;
					display: inline-block;
					width: auto;
					margin-left: 15px;
					margin-right: 15px;
					padding-top: 0;
					background-color: $primaryLighten4;
					border-radius: 3px;
					box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

					input {
						padding-bottom: 5px;
					}

					&:first-of-type {
						margin-left: 0;
					}

					.input-label {
						position: absolute;
						margin-top: -20px;
						margin-left: 5px;
					}
				}

				.genre-select {
					margin-top: -20px;
				}

				.v-select {
					width: 100%;
					position: relative;
					font-family: "OpenSans";

					.dropdown-toggle {
						position: relative;
						display: flex;
						border: none;
					}

					input, .selected-tag {
						font-size: 14px;
					}

					.selected-tag {
						position: absolute;
						margin-top: 2px;
					}

					.dropdown-menu {
						position: absolute;
						height: 11em;
						padding: 0;
						z-index: 5;
		
						.highlight {
							a {
								background-color: $accentAccent2;
								color: $primaryLighten4;
							}
						}
		
						li {
							margin-top: 0;
							line-height: 1em;
		
							a {
								width: 100%;
								padding: 10px;
								overflow: hidden;
								color: #232323;
							}
						}
					}
				}

				.vdatetime {
					input {
						padding-left: 10px;
						font-size: 14px;
						color: #232323;
						cursor: pointer;
					}
				}

				.switch-select {
					display: inline-block;
					margin-bottom: 15px;
					padding: 0;
					box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
				}

				.country-select, .city-select {
					min-width: 250px;
					margin: 0px;
					padding: 0;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					box-shadow: none;
				}

				.md-button-toggle {
					display: inline-block;

					.md-button {
						height: 30px;
						min-height: 0;
						margin-top: -6px;
						margin-right: -4px;
						line-height: 30px;
						background-color: $accentLighten3;

						&:last-of-type {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
						}
					}

					.md-toggle {
						background-color: #232323;
					}
				}
			}
	
			.clear-filters-button {
				margin: 0px;
				.md-icon {
					margin-left: -4px;
				}
			}
		}
	}

	.no-items-title {
		text-align: center;
		padding: 40px;
	}

	.all-items {
		margin: 0 30px;
		margin-top: 40px;
		margin-bottom: 20px;
		position: relative;
		background-color: #fdfdfd;
		border-radius: 3px;
		overflow: visible;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		z-index: 0;

		.list-item-header {
			height: 10px;
			padding: 0 5px;
			display: flex;
			color: $primaryLighten5;
	
			p {
				margin: 8px 0;
				position: relative;
				top: -25px;
				overflow: visible;
	
				span {
					padding: 10px 15px;
					background-color: #232323 !important;
					box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
					border-radius: 3px;
				}

				.md-icon {
					color: $accentAccent2;
					text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
				}
			}

			.hidden-icon {
				opacity: 0;
			}
		}

		.list-item {
			padding: 10px 15px;
			display: flex;
			border-bottom: 1px solid $primaryLighten3;
			background-color: #ffffff;
			color: $primaryDarken3;
			cursor: pointer;
	
			&:nth-of-type(2n) {
				background-color: #fdfdfd;
	
				&:hover {
					background-color: $primaryLighten3;
				}
			}
	
			&:hover {
				background-color: $primaryLighten4;
			}
		}
	}

	.list-footer {
		padding: 20px;
		position: relative;
		background-color: #232323;
		color: $primaryLighten5;

		.md-input-container {
			min-width: 0;
			width: auto;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding-top: 0;
			margin: 0;
			min-height: 32px;
			text-align: center;

			p {
				color: $primaryLighten5;
				margin: 5px 0;
				margin-right: 10px;
			}

			.md-select {
				width: 15%;
				max-width: 150px;
				background-color: #fdfdfd;
				color: #232323;
				box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
				border-radius: 3px;

				span {
					height: auto;
					line-height: inherit;
				}
			}
		}

		.pages {
			text-align: center;
		}

		.page-btn {
			color: $accentAccent2;
		}

		.current-page {
			font-family: 'OpenSansBold';
			font-size: 1.1em;
			color: $accentAccent2;
		}

		span {
			padding: 5px;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 768px){
	#events_list, #locations_list, #bands_list {
		padding-bottom: 30px;

		.color-block {
			height: 700px;
		}

		.show-filters-button {
			display: block;
			margin-top: 20px;
			margin-bottom: 0;
			.md-icon {
				margin-top: -2px;
				transition: transform .3s ease-out;
			}
		}

		.list-header {
			display: block;
			padding: 0;

			.header-line {
				display: block;
			}

			h1 {
				// text-align: center;
				font-size: 2.2em;
			}

			.md-button {
				display: block;
				// margin: 0 auto;
				margin-bottom: 10px;
			}
			
			.filters {
				max-height: 0;
				overflow: hidden;
				opacity: 0;
				transition: all .3s ease-out;

				.starting-letter-filter {
					flex-wrap: wrap;
					// justify-content: center;

					.active-start-letter {
						margin-top: 5px;
						div {
							display: none;
						}
					}
				}

				.additional-filters {
					margin-top: 40px;

					.genre-select, .label-select {
						margin-right: 0;
						margin-left: 0;
						margin-bottom: 30px;
						display: block;
					}

					.date-select {
						margin-left: 0;
						margin-right: 0;
						margin-bottom: 30px;
						width: calc(50% - 2px);
					}

					.switch-select {
						display: flex;
						flex-wrap: wrap;
						box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

						.md-button-toggle {
							display: flex;
							min-width: 100%;
							order: 2;
							border-bottom-left-radius: 3px;
							border-bottom-right-radius: 3px;
							overflow: hidden;

							.md-button {
								flex: 1;
								margin: 0;
							}
						}

						.md-input-container {
							min-width: 100%;
							flex: 1;
							order: 1;
							border-bottom-right-radius: 0;
							border-top-left-radius: 3px;
						}
					}
				}

				.clear-filters-button {
					margin-top: 20px;
				}
			}

			.show-filters {
				opacity: 1;
				overflow: visible;
				max-height: 700px;
			}

			.opened {
				.md-icon {
					&:last-of-type {
						transform: rotate(90deg);
					}
				}
			}
		}

		.all-items {
			margin: 0;
			margin-top: 50px;

			.list-item {
				h3 {
					font-size: 1em;
					margin-right: 10px;
				}
			}
		}

		.list-footer {
			.md-input-container {
				position: initial;
				top: auto;
				transform: initial;
				margin: 0 auto;
				margin-top: 20px;
			}

			.page-btn i{
				font-size: 2em;
			}
		}
	}
}