@import "../themeColors";
@import "../angled-edges";

#list {
	width: 1300px;
	margin: 0 auto;
	margin-bottom: 30px;
	overflow: hidden;
	max-width: 100%;
	padding: 0 30px;
	
	.color-block {
		position: absolute;
		width: 110%;
		height: 590px;
		top: -70px;
		left: -5%;
		background-image: url("/static/placeholders/10.jpg");
		border-bottom: 10px solid $accentAccent2;
		transform: rotate(-4deg);
	}	

	h4 {
		font-weight: 400;
		font-size: 16px; 
	}
	
	.list-header {
		color: $primaryLighten5;
		margin-top: 30px;


		h1 {
			margin: 0;
			margin-left: -5px;
			margin-top: 60px;
			margin-bottom: 50px;
			font-size: 60px;
			position: relative;
		}

		.create-new {
			position: absolute;
			right: 0;
			top: 120px;
			display: flex;
			padding: 30px 30px;
			font-weight: 600;
			font-family: "Montserrat";
			color: $primaryLighten5;
			background-color: $accentAccent2;
			clip-path: polygon(
				0 0, /* left top */
				100% 0, /* right top */ 
				100% 100%, /* right bottom */
				4% 100% /* left bottom */
			);

			.left-container {
				align-self: center;
				margin: 0 10px;
				h3, p {
					margin: 0;
				}

				h3 {
					font-size: 26px;
					margin-bottom: 5px;
				}

				p {
					font-size: 12px;
				}
			}

			.right-container {	
				align-self: center;

				.md-icon {
					margin: 0 10px;
					margin-top: -10px;
					font-size: 32px;
				}
			}
		}				

		.sorting {
			display: flex;
			float: right;
			position: relative;
			margin-top: 20px;

			.loading-skeleton-element {
				background-color: #aaa;
			}

			h4 {
				margin: 0;
				margin-right: 15px;
				line-height: 32px;

			}

			#selector {
				#selector-input {
					width: 180px;
					margin-right: 0;
					.md-icon {
						width: 30px;
						height: 32px;
						padding-left: 3px;
						background-color: $accentAccent2;
					}
				}

				.options {
					color: #232323;
				}
			}
		}

		.mobile-menu-buttons, .mobile-apply-button {
			display: none;
		}
	}

	.md-spinner {
		.md-spinner-path {
			stroke: $accentAccent2;
		}
	}

	.initial-loading-message {
		position: relative;
		width: 100%;
		margin-top: 70px;
		display: flex;
		justify-content: center;

		.dummy-elements {
			.dummy-element {
				position: relative;
				height: 120px;
				opacity: 0.7;				

				.dummy-image {
					height: 100%;
					width: 140px;
					top: 0;
					left: 0;
					background-color: $primaryLighten1;					
					clip-path: polygon(
						0 0, /* left top */
						100% 0, /* right top */ 
						84% 100%, /* right bottom */
						0% 100% /* left bottom */
					);
					animation: fade 1.5s infinite;
				}

				.dummy-information {
					flex: 1;
					padding: 20px;
					animation: fade 1.5s infinite;
					background-color: transparent;

					.dummy-title, .dummy-description, .dummy-additional {
						background-color: $primaryLighten1;
						margin-bottom: 15px;
					}
				}				
			}
		}

		.md-spinner {
			position: absolute;
			top: 150px;
			width: 70px !important;
			height: 70px !important;
		}
	}

	.list-elements {
		position: relative;
		width: 100%;
		clear: both;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.no-data {
			flex: 1;
			margin-top: 150px;
			h3 {	
				font-size: 32px;			
				font-weight: 900;
				text-align: center;
			}
		}

		.dummy-list-element {
			position: relative;
			display: flex;
			width: 47% !important;
			margin: 20px 0;
			overflow: hidden;
			color: #232323;
			background-color: $primaryLighten5;
			border-radius: 3px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);	
		}	
	}

	.load-less {
		display: flex;
		justify-content: center;	
		width: 100%;
		margin-top: 70px !important;
	}

	.load-more {
		position: relative;
		margin-top: 30px;
		text-align: center;
		clear: both;

		p {
			margin: 0;
			font-family: Montserrat;
			color: $primaryDarken1;
		}

		.md-button {
			padding: 8px 25px;
			background-color: #232323;
			color: $primaryLighten5;
			text-transform: capitalize;
			font-size: 20px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		}
	}

	.not-found-message {
		margin: 30px 0;
		position: relative;

		p {
			margin: 0;
			font-family: Montserrat;
			font-weight: 600;
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 768px) {
	#list {
		padding: 0 15px;

		.color-block {
			height: 420px;
		}

		.list-header {
			h1 {
				margin: 20px 0;
				margin-bottom: 40px;
				text-align: center;
				font-size: 46px;
			}

			.create-new {
				position: relative;
				top: 0;
				max-width: 300px;
				margin: 0 auto;
				margin-bottom: 15px;
				padding: 20px;
				justify-content: center;
				transform: skew(-8deg);
				clip-path: none;

				.left-container, .right-container {
					transform: skew(8deg);
				}				

				.left-container {
					margin: 0;
					h3 {
						font-size: 18px;
					}

					p {
						font-size: 10px;
					}
				}
			}	

			.mobile-list-header {
				.mobile-menu-buttons {
					width: 100%;
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;
					.mobile-sorting-button, .mobile-filter-button {
						display: block;
						// width: 45%;
						color: $primaryLighten5;
	
						.md-icon {
							color: $primaryLighten5;
							margin-top: -5px;
						}
					}
					
					.mobile-filter-button {
						position: relative;
						padding: 0 16px;
						font-size: 18px;
						background-color: transparent;
						border: none;
						font-family: Montserrat;
						font-weight: 500;
					}
					
					.mobile-sorting-button {
						margin: 6px 8px;
						border-radius: 2px;
	
						#selector-input {
							background-color: transparent !important;
							box-shadow: none;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							margin: 0;
							padding: 0 16px;	
							
							span {
								font-family: Montserrat;
								font-weight: 500;		
								font-size: 18px;
								color: $primaryLighten5;
								margin-top: 3px;
							}
	
							.md-icon {
								margin: 0;
								margin-top: 2px;
								margin-left: 5px;
								position: relative;
								background-color: transparent;
							}
						}
	
						.options {
							// width: 100% !important;
							min-width: 0;
							margin-top: 35px;
							margin-bottom: 0;
							right: 0;
	
							li {
								color: #232323;
								font-size: 14px;					
							}
							.active {
								background-color: $accentAccent2;
								color: $primaryLighten5;
							}
						}
					}
				}

				.applied-filter-chips {
					display: flex;
					overflow: auto;
					margin-top: -10px;
					margin-bottom: 10px;
				}
			}

			

			.opened {				
				visibility: visible !important;
				opacity: 1 !important;
			}

			.filters {
				position: fixed;
				overflow: auto;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 999;
				background-color: #232323;
				display: block !important;
				visibility: hidden;
				padding: 20px;
				padding-bottom: 70px;
				opacity: 0;
				transition: all .2s ease-out;
				
				.close-filters-btn {
					position: absolute;
					top: 15px;
					right: 0;
					
					.md-icon {
						color: $accentAccent2;
						font-size: 40px;
					}
				}

				h3 {
					// margin-bottom: 0;
					font-size: 36px;
					font-weight: 900;
					line-height: 32px;
				}				

				.mobile-apply-button {
					display: block;
					width: calc(100vw - 40px);
					bottom: 20px;
					left: 0; 
					right: 0; 
					position: fixed;
					margin: 0 auto;
					margin-top: 50px;
					padding: 10px;
					text-transform: none;
					background-color: $accentAccent2;
					font-size: 18px;
				}
			}
			
			.sorting {
				display: inline-block;
				display: none;

				h4 {
					margin-bottom: 0;
					font-size: 18px;
				}
			}
		}

		.load-less {
			margin: 20px 0!important;
		}
		
		.initial-loading-message {
			margin-top: 0;
		}

		.list-elements {
			.no-data {
				margin-top: 20px !important;
			}

			.dummy-list-element {
				width: 100% !important;
				margin: 10px 0;
				float: none !important;

				&:first-of-type {
					margin-top: -10px;
				}

				.image-container {
					margin-right: 5px;
					.image {
						width: 120px;
					}
				}
				
				.element-info {
					h4, .event-location {
						font-size: 14px;
						margin-bottom: 0px;
					}
					h3 {
						font-size: 20px;
					}

					.event-bands {
						font-size: 12px;
					}
				}
			}
		}

	}
}

@keyframes fadeIn {
	0% {
		display: block !important;
		opacity: 0;	
	}
	
	100% {
		display: block !important;
	  	opacity: 1;
	}
}