@import "./generalList";

#locations_list {
	
	.item-title {
		width: 45%
	}

	.location-address, .location-city {
		width: 25%;
	}

	.hidden-icon, .learn-more-icon {
		width: 5%;
	}

	.list-item-header {
		p {
			span {
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#locations_list {
		.list-header {
			.md-button {
				margin-bottom: 50px;
			}
		}

		.location-address {
			display: none;
		}

		.item-title {
			display: block;
		}
	}
}