@import "../themeColors";
@import "./listCommonStyles";

#event_list {

	.passed-in-filters {
		.additional-filters {
			.date-filter {					
				.datepickers {
					display: flex;

					.datepicker-trigger {
						position: relative;
						margin-top: 5px;

						input {
							width: 160px;
						}

						.md-icon {
							position: absolute;
							color: $accentAccent2;
							right: 19px;
							top: 4px;
							font-size: 20px;
						}

						.clear-selection {
							margin-right: 25px;
							cursor: pointer;
						}
					}
				}
			}

			.asd__wrapper {
				margin: 0 auto;
				border: none;
				box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
				border-radius: 3px;

				.asd__month {
					color: #232323;
				}
		
				.asd__change-month-button {
					button {
						border: none;
						background-color: $accentAccent2;
		
						svg {
							
						fill: $primaryLighten4;
						stroke: $primaryLighten4;
						}
					}
				}
		
				
				.asd__day--in-range {
					border: none !important;
					overflow: visible;
					button {
						background-color: $accentLighten4 !important;
					}
				}
				.asd__day--selected {
					border-color: $accentAccent2 !important;
					button {
						background-color: $accentAccent2 !important;
					}
				}
				.asd__selected-date-one, .asd__selected-date-two {
					overflow: visible;
					border-color: rgb(228, 231, 231) !important;
					background-color: transparent !important;
				}
			}

			.genre-filter, .date-filter {
				margin-right: 35px;
			}
		}			
	}

	.list-element {

		.element-info {
			.event-location {
				margin-top: -3px;
				margin-bottom: 5px;
				font-size: 16px;
				font-family: Montserrat;
				font-weight: 600;
			}

			.event-bands {
				font-family: Montserrat;
				font-weight: 400;

				span {
					&:after {
						content: ", ";
						display: inline;
					}

					&:last-of-type {
						&:after {
							content: "";
						}
					}
				}
			}
		} 
	}
}

@media screen and (max-width: 768px) {
	#event_list {
		.filters {
			.additional-filters {
				.datepickers {
					flex-wrap: wrap;
					.datepicker-trigger {
						width: 45%;
						min-width: 140px;
						position: relative;
						
						&:first-of-type {
							margin-right: 5%;
						}

						input {
							display: block;
							width: 100% !important;
						}
						.md-icon {
							margin-top: 19px;
							right: 0 !important;
						}
					}
				}
			}
		}
		
		.list-element{			
			.element-info {
				.event-location {
					font-size: 14px;
					margin-bottom: 0px;
				}

				.event-bands {
					font-size: 12px;
				}
			}
		}
		
	}
}