@import "../themeColors";
@import "../angled-edges";

#new_list {
	width: 1300px;
	margin: 0 auto;
	margin-bottom: 30px;
	overflow: hidden;
	max-width: 100%;
	padding: 0 30px;
	
	.color-block {
		position: absolute;
		width: 110%;
		height: 530px;
		top: -20px;
		left: -5%;
		background-color: $accentAccent2;
		transform: rotate(-4deg);
	}	

	h4 {
		font-weight: 400;
		font-size: 16px; 
	}	

	input, #selector-input {
		height: 32px !important;
		padding: 8px;
		background-color: $primaryLighten5 !important;
		font-weight: 300;
		font-family: Montserrat;
		font-size: 13px !important;
		border: none;
		border-radius: 3px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

		&:first-of-type {	
			margin-right: 20px;
		}
	}

	.dummy-element {
		border-radius: 3px;
		animation: fade 1.5s infinite;
		background-color: #333;
		opacity: 0.7;
	}
	
	.list-header {
		color: $primaryLighten5;
		// display: flex;
		margin-top: 30px;


		h1 {
			margin: 0;
			margin-left: -5px;
			margin-top: 60px;
			margin-bottom: 50px;
			font-size: 60px;
			position: relative;
		}

		.create-new {
			position: absolute;
			right: 0;
			top: 120px;
			display: flex;
			padding: 30px 30px;
			font-weight: 600;
			font-family: "Montserrat";
			color: $primaryLighten5;
			background-color: #232323;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
			clip-path: polygon(
				0 0, /* left top */
				100% 0, /* right top */ 
				100% 100%, /* right bottom */
				4% 100% /* left bottom */
			);

			.left-container {
				align-self: center;
				margin: 0 10px;
				h3, p {
					margin: 0;
				}

				h3 {
					font-size: 26px;
					margin-bottom: 5px;
				}

				p {
					font-size: 12px;
				}
			}

			.right-container {
				color: $accentAccent2;
				align-self: center;

				.md-icon {
					margin: 0 10px;
					margin-top: -10px;
					font-size: 32px;
				}
			}
		}		

		.filter-dummy {
			width: 160px;
			height: 30px;
			margin-right: 20px;
		}

		.filters {
			position: relative;

			h3, h4 {
				margin: 0;
				font-weight: 600;
			}
			h3 {
				margin-bottom: 15px;
				font-size: 20px;
			}

			.starting-letter-filter {
				h4 {
					margin-bottom: 15px;
				}

				.starting-letter-filter-dummy {
					width: 800px;
					max-width: 100%;
					height: 25px;	
				}

				#starting_letter_filter {
					div, ul, li {
						// display: inline;
					}
	
					ul {
						display: flex;
						flex-wrap: wrap;
						margin-left: 0;
						margin-bottom: -20px !important;
						padding-left: 0;
	
						li {
							display: inline;
							font-size: 20px;
							font-weight: 600;
							padding: 5px 4px;							
							margin: 0;
							color: $primaryLighten1;
							text-align: center;

							&:first-of-type {
								padding-left: 0;
							}
						}
						
						.available {
							color: #232323;
							cursor: pointer;

							&:hover {
								color: #494949;
							}
						}

						.active-start-letter {
							background-color: #232323;
							color: $primaryLighten5;
							padding: 5px 7px !important;
							clip-path: polygon(0 90%, 100% 100%, 100% 0, 0 0);
							
							&:hover {
								color: $primaryLighten5;
							}

							div {
								i {
									color: $accentAccent2;
								}
							}
						}
					}
				}
			}

			.additional-filters {
				display: flex;
				flex-wrap: wrap;
				margin-top: 30px;

				.date-filter {					
					.datepickers {
						display: flex;

						.datepicker-trigger {
							position: relative;
							margin-top: 5px;

							input {
								width: 160px;
							}

							.md-icon {
								position: absolute;
								color: #232323;
								right: 19px;
								top: 4px;
								font-size: 20px;
							}

							.clear-selection {
								margin-right: 25px;
								cursor: pointer;
							}
						}
					}
				}

				.genre-filter, .date-filter {
					margin-right: 35px;
				}

				.genre-filter, .city-filter {
					#search_select {
						margin-top: 5px;
						width: 200px;
						.select-indicator {
							background-color: #232323;
							border-top-right-radius: 3px;
							border-bottom-right-radius: 3px;
							height: 32px;
							width: 30px;
							text-align: center;
							padding-left: 3px;
							cursor: pointer;
						}

						.no-options {
							color: #232323;
							padding: 5px;
						}

						.select-overlay {
							position: absolute;
							ul {
								li {
									color: #232323;

									&:hover {
										// background-color: $accentAccent2;
									}
								}
							}
						}
					}
				}
			}			
		}

		.sorting {
			display: flex;
			float: right;
			position: relative;
			margin-top: 20px;

			h4 {
				margin: 0;
				margin-right: 15px;
				line-height: 32px;

			}

			#selector {
				#selector-input {
					width: 180px;
					margin-right: 0;
					.md-icon {
						width: 30px;
						height: 32px;
						padding-left: 3px;
					}
				}

				.options {
					color: #232323;
				}
			}
		}

		.mobile-menu-buttons, .mobile-apply-button {
			display: none;
		}
	}

	.md-spinner {
		.md-spinner-path {
			stroke: $accentAccent2;
		}
	}

	.initial-loading-message {
		position: relative;
		width: 100%;
		margin-top: 70px;
		display: flex;
		justify-content: center;

		.dummy-elements {
			.dummy-element {
				position: relative;
				height: 120px;
				opacity: 0.7;				

				.dummy-image {
					height: 100%;
					width: 140px;
					top: 0;
					left: 0;
					background-color: $primaryLighten1;					
					clip-path: polygon(
						0 0, /* left top */
						100% 0, /* right top */ 
						84% 100%, /* right bottom */
						0% 100% /* left bottom */
					);
					animation: fade 1.5s infinite;
				}

				.dummy-information {
					flex: 1;
					padding: 20px;
					animation: fade 1.5s infinite;
					.dummy-title, .dummy-description, .dummy-additional {
						background-color: $primaryLighten1;
						border-radius: 3px;
						margin-bottom: 15px;
					}
					.dummy-title {
						height: 25px;
						width: 60%;
					}
	
					.dummy-description, .dummy-additional {
						height: 15px;
						width: 100%;
					}
				}				
			}
		}

		.md-spinner {
			position: absolute;
			top: 150px;
			width: 70px !important;
			height: 70px !important;
		}
	}

	.list-elements {
		// display: flex;
		// flex-wrap: wrap;
		position: relative;
		width: 100%;
		clear: both;
		// justify-content: space-around;

		.list-element {
			width: 45%;
			float: left;
			// width: 500px;
			margin: 20px 2.5%;
			position: relative;
			// flex: 1;
			display: flex;
			overflow: hidden;
			color: #232323;
			background-color: $primaryLighten5;
			border-radius: 3px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

			// &:nth-of-type(odd) {
			// 	margin-left: 0px;
			// }

			// &:nth-of-type(even) {
			// 	margin-right: 0px;
			// }
			

			.image-container {
				width: 130px;
				display: flex;
				margin-left: -10px;
				margin-right: 10px;

				.image {
					width: 140px;
					height: 100%;
					background-position: center;
					background-size: cover;
					position: relative;
					clip-path: polygon(
						0 0, /* left top */
						100% 0, /* right top */ 
						84% 100%, /* right bottom */
						0% 100% /* left bottom */
					);
				}

				.color-seperator {
					width: 7px;
					height: 100%;
					background-color: $accentAccent2;
					transform: skew(-10deg);
					margin-left: -12px;
				}

				@supports (-ms-ime-align:auto) { 
					.color-seperator {
						transform: skew(0deg);
						margin-left: 0;
					}
				}
			}

			.element-info {
				padding: 10px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				h3, h4, p {
					margin: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
	
				h4 {
					margin-bottom: 5px;
					font-size: 16px;
					line-height: 20px;
					color: $accentAccent2;
					font-weight: 600;
				}
	
				h3 {
					margin-bottom: 5px;
					font-weight: 900;
					font-size: 22px;
					line-height: 26px;
				}
	
				.event-location {
					margin-top: -3px;
					margin-bottom: 5px;
					font-size: 16px;
					font-family: Montserrat;
					font-weight: 600;
				}
	
				.event-bands {
					font-family: Montserrat;
					font-weight: 400;

					span {
						&:after {
							content: ", ";
							display: inline;
						}

						&:last-of-type {
							&:after {
								content: "";
							}
						}
					}
				}
	
				&:nth-of-type(even) {
					
				}
			} 
		}
	}

	.load-less {
		display: flex;
		justify-content: center;	
		width: 100%;
		margin-top: 70px !important;
	}

	.load-more {
		margin-top: 30px;
		text-align: center;
		clear: both;

		p {
			margin: 0;
			font-family: Montserrat;
			color: $primaryDarken1;
		}

		.md-button {
			padding: 8px 25px;
			background-color: #232323;
			color: $primaryLighten5;
			text-transform: capitalize;
			font-size: 20px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		}
	}

	.not-found-message {
		margin: 30px 0;
		position: relative;

		p {
			margin: 0;
			font-family: Montserrat;
			font-weight: 600;
			font-size: 14px;
		}
	}
}

@keyframes fade {
	0% {
		opacity: .4;
	}
	
	50% {
		opacity: .8;
	}
	
	100% {
	  	opacity: .4;
	}
}

@media screen and (max-width: 768px) {
	#new_list {
		padding: 0 15px;

		.list-header {
			h1 {
				margin: 20px 0;
				margin-bottom: 40px;
				text-align: center;
				font-size: 46px;
			}

			.create-new {
				position: relative;
				top: 0;
				max-width: 300px;
				margin: 0 auto;
				margin-bottom: 30px;
				padding: 20px;
				justify-content: center;
				transform: skew(-8deg);
				clip-path: none;

				.left-container, .right-container {
					transform: skew(8deg);
				}				

				.left-container {
					margin: 0;
					h3 {
						font-size: 18px;
					}

					p {
						font-size: 10px;
					}
				}
			}	

			.mobile-menu-buttons {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 30px;
				.mobile-sorting-button, .mobile-filter-button {
					display: block;
					width: 45%;
					background-color: #232323;
					color: $primaryLighten5;

					.md-icon {
						color: $accentAccent2;
					}
				}				
			}

			.opened {				
				visibility: visible !important;
				opacity: 1 !important;
			}

			.filters {
				position: fixed;
				overflow: auto;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 999;
				background-color: $accentAccent2;
				display: block !important;
				visibility: hidden;
				padding: 20px;
				opacity: 0;
				transition: all .2s ease-out;

				h3 {
					// margin-bottom: 0;
					font-size: 36px;
					font-weight: 900;
					line-height: 32px;
				}

				.starting-letter-filter, .additional-filters {
					// max-height: 0;
					// margin: 0;
				}

				.starting-letter-filter {
					h4 {
						margin-bottom: 5px;
					}
					#starting_letter_filter { 
						ul {
							margin-top: 0;
							li{
								margin: 0;
								padding-bottom: 10px;
								padding-right: 15px;
								padding-left: 0;

								div {
									display: none;
								}
							}

							.active-start-letter {
								margin-right: 10px;
								margin-left: -5px;
								div {
									display: block;
								}
							}
						}
							
					}
				}

				.additional-filters {
					.genre-filter, .date-filter, .city-filter {
						margin-bottom: 20px;
					}

					.datepickers {
						.datepicker-trigger {
							.md-icon {
								margin-top: 19px;
							}
						}
					}
				}

				.mobile-apply-button {
					display: block;
					width: calc(100vw - 40px);
					bottom: 20px;
					left: 0; 
					right: 0; 
					position: absolute;
					margin: 0 auto;
					margin-top: 50px;
					padding: 10px;
					background-color: #232323;
					font-size: 18px;
				}
			}
			
			.sorting {
				display: inline-block;
				display: none;

				h4 {
					margin-bottom: 0;
					font-size: 18px;
				}
			}
		}

		.load-less {
			margin: 20px 0!important;
		}

		.list-elements {
			.list-element {
				width: 100%;
				margin: 10px 0;

				&:first-of-type {
					margin-top: -10px;
				}

				.image-container {
					margin-right: 5px;
					.image {
						width: 120px;
					}
				}
				
				.element-info {
					h4, .event-location {
						font-size: 14px;
						margin-bottom: 0px;
					}
					h3 {
						font-size: 20px;
					}

					.event-bands {
						font-size: 12px;
					}
				}
			}
		}

	}
}

@keyframes fadeIn {
	0% {
		display: block !important;
		opacity: 0;	
	}
	
	100% {
		display: block !important;
	  	opacity: 1;
	}
}