@import "../themeColors";
@import "./listCommonStyles";

#band_list {
	.passed-in-filters {
		.additional-filters {
			.genre-filter, .label-filter {
				margin-right: 35px;
			}
		}			
	}

	.list-element {
		.element-info {
			.band-genres {
				span {
					&:after {
						content: ", ";
						display: inline;
					}

					&:last-of-type {
						&:after {
							content: "";
						}
					}
				}
			}

			.band-origin {
				margin-top: -3px;
				margin-bottom: 5px;
				font-size: 16px;
				font-family: Montserrat;
				font-weight: 600;
			}		
			
			.band-label {
				font-weight: 400;
				font-family: Montserrat;
			}
		} 
	}
}

@media screen and (max-width: 768px) {
	#band_list {
		.filters {
			.additional-filters {
				.country-filter, .genre-filter, .label-filter {
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
		
		.list-element{
			
			.element-info {
				.band-genres {
					font-size: 12px;
				}
				.band-origin, .band-label {
					font-size: 14px;
				}
				h3 {
					font-size: 20px;
				}
			}
		}
		
	}
}