@import "./generalPage";
@import "../themeColors";

#band_page {
	.content {
		.title {
			margin-bottom: 10px !important;
		}

		.content-information {
			.information-tab, .discography-tab {	
				.additional-information {
					.category {
						padding-left: 5px !important;
					}
	
					.category-content {
						overflow: hidden !important;
						flex-wrap: wrap;

						.soundcloud {
							svg {
								background-color: #FE6D35;
							}
						}

						.bandcamp {
							svg {
								background-color: #629AA9;
							}
						}
					}
				}
	
				.description {
					.category {
						padding-left: 5px !important;
					}

					.founding-date {
						font-family: "Montserrat";
						margin-bottom: 0;
					}
	
					p {
						margin-top: 5px;
					}
				}
			}

			.upcoming-tab {
				.month-cards {
					.card-content {
						.event-location {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
			}

			.discography-tab {
				.record-label {
					width: 100% !important;

					.category {
						padding-left: 15px !important;
						h4 {
							margin-left: -7px !important;
						}
					}
				}

				.releases {
					width: 100% !important;
					margin-top: 25px;
					align-items: flex-start !important;

					.category {
						padding-left: 5px !important;
					}

					.category-content {
						position: relative;
						margin-top: 15px !important;

						&:before {
							content: "";
							position: absolute;
							width: 3px;
							margin-left: 50px;
							min-height: 100%;
							background-color: $accentAccent2;
							border-radius: 50px;
							z-index: 0;
						}

						div {
							margin-bottom: 40px;
							position: relative;
							width: 100%;
							.release-year {
								display: inline-block;
								width: 60px;
								color: $accentAccent2;

								&:after {
									content: "";
									display: inline-block;
									position: relative;
									float: right;
									width: 12px;
									height: 12px;
									margin-top: 3px;
									margin-right: 2px;
									background-color: #fafafa;
									border: 3px solid $accentAccent2;
									border-radius: 50px;
									z-index: 5;
								}
							}

							.release-name {
								font-weight: 600;
								display: block;
								width: 100%;
								margin-left: 65px;
								padding-right: 60px;
								margin-top: -20px;
								// position: absolute;
							}

							&:first-of-type {
								margin-top: 15px;
							}

							&:last-of-type {
								margin-bottom: 30px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#band_page {
		.content {
			.content-information {
				.information-tab {
					.address {
						padding-left: 5px !important;
					}

					.additional-information {
						align-items: start !important;
						padding-left: 5px !important;

						.category {
							padding-left: 0 !important;
						}

						.category-content {
							a {
								width: 130px !important;
								margin-bottom: 15px !important;
								margin-left: 10px !important;

								h4 {
									margin: 0 5px !important;
									font-size: 1em !important;
								}

								svg {
									width: 40px;
								}
							}
						}
					}

					.description {
						display: block;
	
						.category {
							width: auto !important;
							display: flex !important;
							justify-content: start !important;
							align-items: center !important;
							border-bottom: 1px solid $accentAccent2;

							svg {
								margin: 0 !important;
								margin-left: 5px !important;
							}

							svg, h4 {
								display: inline-block !important;
							}

							h4 {
								margin-left: 10px !important;
							}

							br {
								display: none;
							}
						}
	
						.category-content {
							p {
								line-height: 1.35em;
							}
						}
					} 
				}
			}
		}
	}
}