@import "./generalPage";
@import "../themeColors";

#band_page {
	.content-body {
		p {
			margin-bottom: 3px;

			span {
				font-family: "OpenSansBold";
			}
		}

		.band-history {
			margin-top: 15px;
		}

		li {
			margin-top: 3px;
		}
	}
}