@import "./generalPage";
@import "../themeColors";

#band_page {
	.content-body {
		p {
			margin-bottom: 3px;

			span {
				font-family: "OpenSansBold";
			}
		}

		.band-genre {
			font-family: "OpenSans";
			margin-right: 5px;

			&:after {
				content: ", ";
			}

			&:last-of-type:after {
				content: "";
			}
		}

		.band-history {
			margin-top: 15px;
		}

		li {
			margin-top: 3px;
		}
	}
}