@import "../themeColors.scss";
#event_page {
	.content {
		height: 72vh;
		// padding: 5px 50px !important;
		.content-information {
			width: 60% !important;
			.location {
				cursor: pointer;
				color: #232323;
				.category-content {
					h4 {
						&:after {
							content: "";
							display: block;
							height: 2px;
							width: 0%;
							margin: 0 auto;
							background-color: $accentAccent2;
							transition: width .3s ease-out;
						}
					}
					p {
						font-size: 0.9em;
					}
				}

				&:hover {
					h4:after {
						width: 100%;
					}
				}
			}
		}

		.image-container {
			position: sticky !important;
			width: 40% !important;
			max-width: none !important;
			right: 0px !important;
		}

		.image, .image-color-block, .image-loading-indicator {
			margin-top: -5px;
			margin-right: -50px !important;
			position: absolute !important;
			height: calc(100% + 5px) !important;
			top: 0 !important;
			right: 0 !important;
		}

		.image, .image-loading-indicator {
			width: 100% !important;
			z-index: 0 !important;
			box-shadow: none !important;

			&:after {
				position:absolute !important;
				content: " ";
				display:block;
				left: -80px;
				bottom:-20px;
				transform:rotate(-8deg);
				height:120%;
				width: 120px;
				background-color: #fdfdfd;
				cursor: auto;
			}
		}

		.image-color-block {
			width: 15px !important;
			right: calc(100% - 50px) !important;
			left: auto !important;
			background-color: $accentAccent2;
			transform: skew(8deg);
		}
	}
}

@media screen and (max-width: 768px) {
	#event_page {
		.content {
			.content-information {
				width: 100% !important;

				.date {
					margin-top: 30px !important;
					.category {
						padding-left: 5px !important;
					}

					.category-content {
						font-size: 1.5em !important;
					}
				}

				.location {
					.category {
						width: 80px !important;

						h4 {
							width: 80px !important;
							margin-left: -10px !important;
						}
					}
				}

				.description {
					padding-left: 10px !important;
					margin-top: 5px !important;
				}
			}

			.image-container {
				position: absolute !important;
				width: 100% !important;

				.image, .image-loading-indicator {
					left: 0px !important;
					z-index: 0;
					border-radius: 0;
					transform: none !important;
					overflow: visible !important;
					box-shadow: none;

					&::after {
						content: "";
						width: 105%;
						height: 40px !important;
						position: relative;
						display: block;
						left: -5px;
						top: 260px !important;
						transform:rotate(2deg);
						background-color: $primaryLighten5 !important;
					}
				}

				.image-color-block {
					width: 105% !important;
					height: 15px !important;
					left: -5px !important;
					right: 0 !important;
					top: 253px !important;
					transform:rotate(2deg) !important;
				}
			}
		}
	}
}