@import "../themeColors.scss";
@import "_generalPage";

#event_page_new {

	.date {
		margin-top: 0;
		margin-bottom: 30px;
		color: $primaryDarken4;
		font-size: 1.1em;
	}

	.event-location {
		p {
			margin: 0;
		}
	}

	.start-time {
		width: auto;
		margin: 10px 0;
		margin-right: 10px;
		display: inline-block;
	}

	.start-time + span {
		font-size: 1.1em;
	}

	ul {
		margin-top: 0;
		padding: 0;

		li:nth-child(-n+4) {
			// font-weight: bold;
			font-size: 1.15em;
		}

		li:nth-child(-n+2) {
			// font-weight: bold;
			font-size: 1.3em;
		}

		li {
			width: 50%;
			display: inline-block;
		}
	}
}
