@import "../themeColors.scss";
@import "_generalPage";

#event_page {

	.date {
		margin-top: 0;
		margin-bottom: 30px;
		color: $primaryDarken4;
		font-size: 1.1em;
	}

	.event-location {
		p {
			margin: 0;
		}
	}

	.start-time {
		width: auto;
		margin: 10px 0;
		margin-right: 10px;
		display: inline-block;
	}

	.start-time + span {
		font-size: 1.1em;
	}

	ul {
		margin-top: -10px;
		padding: 0;

		li:nth-child(-n+4) {
			font-size: 1.15em;
		}

		li:nth-child(-n+2) {
			font-size: 1.5em;
		}

		li {
			display: inline-block;
			min-width: 50%;
			margin-top: 40px;

			span {
				padding: 10px;
				border-radius: 3px;
				font-family: "Montserrat";
				color: $primaryLighten5;
				line-height: 40px;
				background-color: $accentAccent2;
				text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
				box-decoration-break: clone;
				-webkit-box-decoration-break: clone;
			}
		}
	}
}
