@import "./generalPage";
@import "../themeColors";


#festival_page {
	.content {
		.title {
			margin-bottom: 10px !important;
		}

		.content-information {
			.information-tab {	
				.address {
					width: 100% !important;
					.address-info {
						display: flex;
					}
					
					.ticket-link-wrapper {
						padding-left: 10vw;
					}
				}
				.additional-information {
					.category {
						padding-left: 15px !important;
					}
				}

				.ticket-link {
					margin-top: 15px;
					width: 150px;
				}
	
				.description {
	
					p {
						margin-top: 5px;
					}
				}
			}

			.history-tab {
				#stepper {
					.infinite-controls {
						button:last-of-type {
							right: 0;
						}
					}
				}

				#selector {
					label {
						font-family: "Montserrat";
						font-weight: 600;
						font-size: 1.1em;
						color: #232323;
					}

					#selector-input {
						width: 250px;
						padding: 10px;
						padding-right: 20px;
						position: relative;
						font-family: "Montserrat";
						box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);	
						border-radius: 3px;

						&:after {
							right: 5px;
							bottom: 8px;
						}
					}
				}

				.festival-instance {
					display: flex;
				}

				.festival-instance-content {
					font-family: "Montserrat";
					max-width: 500px;
					flex: 1;

					h2, h4 {
						font-family: "Montserrat";
					}

					h2 {
						font-size: 1.7em;
						margin-bottom: 0;
					}

					.festival-event-date {
						margin-top: 5px;
						font-weight: 600;
						color: $accentAccent2;
					}
					
					.festival-event-header {
						margin-top: 0;
						display: inline-block;
						position: relative;
						font-size: 1.2em;

						&:after {
							content: "";
							display: block;
							width: 110%;
							height: 3px;
							margin-left: -5%;
							background-color: $accentAccent2;
							transform: rotate(3deg);
						}
					}
					
					//TODO: IN GENERAL AUSLAGERN
					.line-up {
						margin-top: 10px;
						width: 100%;
						align-items: flex-start;
		
						ul {
							margin-top: 0;
							padding-left: 0;
							list-style: none;
							flex: 1;
							display: flex;
							flex-wrap: wrap;
							align-items: flex-start;
		
							li {
								width: calc(50% - 30px);
								display: inline-block;
								font-family: "Montserrat";
								font-weight: 600;	
								font-size: 1.2em;
								line-height: 0.9em;
								margin-bottom: 25px;
								margin-top: 0;
		
								a {
									display: inline-block;
									color: #232323;
									&:after {
										content: " ";
										width: 0%;
										margin: 0 auto;
										margin-top: 2px;
										display: block;
										height: 2px;
										background-color: $accentAccent2;
										transition: width .3s ease-out;
									}
		
									&:hover {
										&:after {
											width: 100%;
										}
									}
								}
		
								&:nth-child(odd) {						
									margin-right: 30px;
								}
		
								&:nth-of-type(-n+4) {
									font-size: 1.25em;
								}
		
								&:nth-of-type(-n+2) {
									font-size: 1.4em;
								}
							}
						}
					}

					.description {
						h4 {
							margin-bottom: 0;
						}

						p {
							font-family: "OpenSans";
						}
					}
				}

				.festival-instance-image {
					img {
						width: 230px;
						height: 230px;
						object-fit: cover;
						border-radius: 3px;
						box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	#festival_page {
		.content {
			.content-information {
				.history-tab {
					.festival-instance {
						flex-wrap: wrap;
						justify-content: center;
					}
	
					.festival-instance-image {
						width: 100%;
						order: 1;
	
						img {
							width: 100%;
							height: 170px;
						}
					}
	
					.festival-instance-content {
						width: 100%;
						order: 2;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#festival_page {
		.content {
			.content-information {
				.information-tab {
					.address {
						padding-left: 5px !important;
						flex-wrap: wrap;

						.address-info {
							order: 2;
							.category {
								h4 {
									margin-left: -5px !important;
								}
							}
	
							.category-content {
								padding-left: 10px;
							}
						}

						.ticket-link-wrapper {
							display: flex;
							min-width: 100%;
							margin-bottom: 20px;
							padding-left: 20px;
							order: 1;
						}
					}

					.additional-information {
						align-items: start;

						.category {
							padding-left: 10px !important;
							width: 100px !important;
							h4 {
								margin-left: 0px !important;
							}
						}

						.category-content {
							a {
								width: 100px;
								margin-bottom: 15px;
								margin-left: 5px;

								h4 {
									margin: 0 5px;
									font-size: 1em;
								}
							}
						}
					}

					.description {
						display: block;
	
						.category {
							padding-left: 25px !important;
							h4 {
								margin-left: -15px !important;
							}
						}
	
						.category-content {
							margin-top: 0px;
							margin-left: 10px !important;
						}
					}
				}

				.history-tab {
					#stepper {
						overflow: visible;

						#selector {
							margin-left: 0;
						}

						.stepper-body {
							padding: 20px 0;
						}
						.step {
							padding: 0;

							.festival-instance-content {
								.line-up {
									li {
										margin-bottom: 10px;
										font-size: 1.05em;
										
		
										&:nth-of-type(-n+4) {
											font-size: 1.1em;
										}
				
										&:nth-of-type(-n+2) {
											font-size: 1.15em;
										}
									}
								}
							}
						}

						.infinite-controls {
							display: none;
						}
					}
				}
			}
		}
	}
}