@import "../themeColors.scss";

#detail_page {
	padding: 30px 0;
}

#event_page, #location_page, #band_page, #festival_page, #detail_page, #not_found {
	width: 100%;
	margin: 0;
	position: relative;
	background-color: $primaryLighten4;

	.color-block {
		position: absolute;
		width: 100%;
		background-color: #232323;
		height: 250px;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.page-header {
		max-width: 1300px;
		margin: 0 auto;
		position: relative;
		z-index: 2;

		.edit-buttons {
			text-align: right;
			
			.edit-button {
				color: $accentAccent2;
				text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
			}

			.more-button {
				.md-icon {
					margin-top: 6px;
					width: 30px;
					height: 30px;
					font-size: 30px;
				}
			}
		}
	}

	.content {
		max-width: 1300px;
		min-height: 400px;
		margin: 20px auto;
		margin-top: 0;
		margin-bottom: 30px;
		padding: 30px 50px;
		position: relative;
		background-color: #fdfdfd;
		border-radius: 3px;
		overflow: visible;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		z-index: 1;

		.title {
			display: inline-block;
		}

		h2 {
			margin: 0;
			margin-bottom: 10px;
			padding: 10px;
			color: $primaryLighten4;
			background-color: $accentAccent2;
			text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
			font-family: 'Montserrat';
			font-size: 3em;
			letter-spacing: 1px;
			line-height: 1em;
			border-radius: 3px;
		}

		hr {
			margin: 15px 0;
			border: none;
			border-top: 1px solid $primaryLighten2;
		}

		.md-icon {
			margin-top: -3px;
			margin-right: 7px;
			color: $accentAccent2;
			text-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		}

		h3 {
			// font-size: 1.25em;
			margin-bottom: 5px;
			color: $primaryDarken3;
			padding: 5px 7px;
			background-color:  #232323;
			display:  inline-block;
			color:  #fafafafa;
			/* padding-left:  0; */
			border-radius: 3px;			
			box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
		}

		.md-spinner {
			display: block;
			margin: 0 auto;
			margin-top: 25px;
		}

		p {
			white-space: pre-wrap;
		}
	}

	.events {
		margin-top: 20px;
		background-color: $primaryLighten5;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		border-radius: 3px;
		border: 1px solid #232323;

		h3 {
			margin: 0;
			margin-bottom: 0 !important;
			padding: 10px;
			padding-bottom: 8px;
			display: block;
			font-family: "Montserrat";
			font-size: 1.5em;
			color: $primaryLighten4 !important;
			background-color: #232323;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			box-shadow: none;
			text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		}

		p {
			color: #232323;
		}

		.event {
			padding: 10px;
			border-bottom: 1px solid #bbb;
			overflow: hidden;
			display: flex;
			cursor: pointer;

			&:hover {
				background-color: $primaryLighten3;
			}

			p:first-child {
				margin-top: 5px;
				font-family: "OpenSansBold";
			}

			&:last-of-type {
				border-bottom: none;
			}

			.event-information {
				width: 95%;
				float: left;
			}

			.learn-more-icon {
				width: 3%;
				height: 100%;
				margin: auto;
				margin-right: 0 !important;
				float: left;
			}

			.event-band {
				&:after {
					content: ", ";
					display: inline;
				}

				&:last-of-type {
					&:after {
						content: "";
					}
				}
			}
		}

		.more-events-btn {
			color: $primaryLighten4;
			background-color: #232323;
			padding: 5px;
			margin: 0;
			cursor: pointer;
			text-align: center;

			&:hover {
				background-color: #000
			}
		}
	}
}

@media screen and (max-width: 1390px) {
	#event_page, #location_page, #band_page, #festival_page, #detail_page, #not_found {
		.content {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	#event_page, #location_page, #band_page, #festival_page, #detail_page, #not_found {
		padding-top: 30px;

		.back-button {
			margin-left: 15px;
		}
		
		.content {
			margin-bottom: 0;
			padding: 10px;
			border-radius: 0;

			.title {
				max-width: 100%;
				font-size: 0.8em;
			}
		}

		.content-body {
			padding: 0 10px;
		}

		.events {

			h3 {
				font-size: 1.3em;
			}

			.event {
				.event-information {
					width: 85%;
				}
			}
		}
	}
}