#location_page {
	.additional-information {
		.category {
			padding-left: 10px !important;
		}
	}
}

@media screen and (max-width: 768px) {
	#location_page {
		.address {
			.category {
				width: 90px !important;
			}
		}

		.description {
			.category {
				width: 80px !important;
			}
		}
	}
}