@import "src/scss/_themeColors";
@import "_generalPage";

#location_page {

	.website, .facebook-page {
		font-family: "OpenSansBold";

		a {
			font-family: "OpenSans";
		}
	}

	.events {
		margin-top: 20px;
		background-color: $primaryLighten5;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		border-radius: 3px;
		border: 1px solid #232323;

		h3 {
			margin: 0;
			padding: 10px;
			font-family: "Montserrat";
			font-size: 1.8em;
			color: $primaryLighten4 !important;
			background-color: #232323;
			text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		}

		p {
			color: #232323;
		}

		.event {
			padding: 10px;
			border-bottom: 1px solid #bbb;
			overflow: auto;
			display: flex;
			cursor: pointer;

			&:hover {
				background-color: $primaryLighten3;
			}

			p:first-child {
				font-family: "OpenSansBold";
			}

			&:last-of-type {
				border-bottom: none;
			}

			.event-information {
				width: 95%;
				float: left;
			}

			.learn-more-icon {
				width: 3%;
				height: 100%;
				margin: auto;
				margin-right: 0 !important;
				float: left;
			}

			.event-band {
				&:after {
					content: ", ";
					display: inline;
				}

				&:last-of-type {
					&:after {
						content: "";
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#location_page {
		.events {
			margin-left: -29%;

			h3 {
				font-size: 1.3em;
			}

			.event {
				.event-information {
					width: 85%;
				}
			}
		}
	}
}