#report_dialog {
    max-width: 100%;
    width: 600px;
    padding: 30px;

    h2 {
        margin-top: 0;
        font-family: "Montserrat";
    }

    .report-ta {
        height: 100px !important;
    }
}