@import "../themeColors";

#latest_content {
	width: 1200px;
	max-width: 95%;
	margin: 0 auto;

	.recent-content-header {
		margin-left: 20px;
		font-size: 1.65em;
		color: white;
		display: inline-block;
		font-weight: 600;
	}

	.content {
		.md-spinner {
			.md-spinner-path {
				stroke: $accentAccent2;
			}
		}

		main {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.md-card {
				width: 18%;
				min-width: 270px;
				margin: 30px 15px;
				margin-top: 0;
				box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
				background-color: $primaryLighten5;

				.card-category {
					position: absolute;
					z-index: 2;
					color: $primaryLighten5;
					background-color: #232323;
					font-size: 1.05em;
					padding: 5px 12px;
					text-transform: capitalize;
					font-weight: 400;
					right: 0;
					border-bottom-left-radius: 3px;
				}

				.md-card-media {
					height: 180px;
					width: 100%;
					overflow: hidden;

					img {
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
					}
				}
	
				.card-content {
					position: relative;
					flex: 1;
					// margin-top: -25px;
					padding: 10px;
					color: #232323;
					background-color: $primaryLighten5;
	
					h2 {
						margin-top: -25px;
						margin-bottom: 10px;
						margin-left: -5px;
						margin-right: 20px;
						padding: 7px 10px;
						display: block;
						float: left;
						clear: left;
						color: $primaryLighten5;
						background-color: $accentAccent2;
						transform: rotate(-2deg);
						box-shadow: 0 3px 6px rgba(0,0,0,0.18);
						word-wrap: break-word;
					}
	
					p {
						clear: left;
						margin: 3px 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.bold-detail {
						font-size: 1.05em;
						font-weight: 600;
					}
	
					.bands, .genres {
						clear: both;
						margin-top: 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
	
						span {
							&:after {
								content: ", "
							}
	
							&:last-of-type {
								&:after {
									content: "";
								}
							}
						}
					}
				}

		}
	}
}

@media screen and (max-width: 768px) {
	#latest_content {
		width: 95%;
		max-width: 100%;


		.recent-content-header {
			font-size: 18px;

			&:after {
				height: 3px;
			}
		}
		.content {
			.md-card {
				min-width: 0;
				width: 100%;
				margin: 0;
				margin-bottom: 15px;

				.md-card-media {
					height: 100px;
				}

				.card-content {
					h2 {
						max-width: 100%;
						margin-bottom: 5px;
						font-size: 1.2em;
						padding: 3px 5px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}

					.bold-detail {
						font-size: 13px;
					}

					p {
						margin: 0;
					}

					.bands, .genres {
						font-size: 0.9em;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;

					}
				}
			}
		}
	}
}