@import "../themeColors";

#latest_content {
	.content {
		display: flex;
		flex-wrap: wrap;
		width: 1200px;
		max-width: 95%;
		margin: 0 auto;
		justify-content: center;
		
		// .card {
		// 	width: 100%;
		// 	height: 140px;
		// 	min-width: 200px;
		// 	margin-bottom: 30px;
		// 	margin-right: 30px;
		// 	box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);

		// 	a {
		// 		display: flex;
		// 	}

		// 	.card-image-wrapper {
		// 		height: 140px;
		// 		width: 25%;
		// 		overflow: hidden;
		// 		border-right: 4px solid $accentAccent2;
		// 	}

		// 	img {
		// 		min-width: 100%;
		// 		min-height: 100%;
				
		// 	}

		// 	.card-content {
		// 		position: relative;
		// 		flex: 1;
		// 		// margin-top: -25px;
		// 		padding: 10px;
		// 		color: #232323;
		// 		background-color: $primaryLighten5;

		// 		h2 {
		// 			margin-top: -25px;
		// 			margin-bottom: 10px;
		// 			margin-left: -5px;
		// 			margin-right: 20px;
		// 			padding: 7px 10px;
		// 			display: block;
		// 			float: left;
		// 			clear: left;
		// 			color: $primaryLighten5;
		// 			background-color: $accentAccent2;
		// 			transform: rotate(-2deg);
		// 			box-shadow: 0 3px 6px rgba(0,0,0,0.18);
		// 			// position: absolute;
		// 		}

		// 		p {
		// 			clear: left;
		// 			margin: 5px 0;
		// 			font-size: 1.1em;
		// 			font-weight: 500;
		// 		}

		// 		.bands {
		// 			margin-top: 0;

		// 			span {
		// 				&:after {
		// 					content: ", "
		// 				}

		// 				&:last-of-type {
		// 					&:after {
		// 						content: "";
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
		// }

		.md-card {
				width: 18%;
				min-width: 270px;
				margin: 30px 15px;
				margin-top: 0;
				box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
				background-color: $primaryLighten5;

				.md-card-media {
					height: 180px;
					width: 100%;
					overflow: hidden;

					img {
						min-width: 100%;
						min-height: 100%;
					}
				}
	
				.card-content {
					position: relative;
					flex: 1;
					// margin-top: -25px;
					padding: 10px;
					color: #232323;
					background-color: $primaryLighten5;
	
					h2 {
						margin-top: -25px;
						margin-bottom: 10px;
						margin-left: -5px;
						margin-right: 20px;
						padding: 7px 10px;
						display: block;
						float: left;
						clear: left;
						color: $primaryLighten5;
						background-color: $accentAccent2;
						transform: rotate(-2deg);
						box-shadow: 0 3px 6px rgba(0,0,0,0.18);
						// position: absolute;
					}
	
					p {
						clear: left;
						margin: 5px 0;
						font-size: 1.1em;
						font-weight: 500;
					}
	
					.bands {
						margin-top: 0;
	
						span {
							&:after {
								content: ", "
							}
	
							&:last-of-type {
								&:after {
									content: "";
								}
							}
						}
					}
				}

		}
	}
}