@import "../themeColors";

#result_category {
	min-width: 320px;
	max-width: 500px;
	margin: 0 10px;
	margin-bottom: 20px;
	transition: height .3s ease-out;
	transition: width .5s ease-out;

	h2 {
		font-size: 1.75em;
		color: white;
		display: inline-block;
		font-weight: 700;
	}

	.result {			
		background-color: $primaryLighten4;
		margin: 0;
		padding: 10px 20px;
		display: flex;

		&:hover {
			background-color: $primaryLighten2;
			cursor: pointer;
		}

		.result-content {
			flex: 1;

			h3 {
				margin-bottom: 0;
			}

			p:first-of-type {
				margin-top: 0;
			}

			p:last-of-type {
				margin-top: 10px;
			}

			p {
				margin: 0;
			}

			.result-match {
				background-color: $accentAccent2;
				color: $primaryLighten4;
				padding: 0 1px;
				margin: 0 -2px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#result_category {
		display: block;
		max-width: 95%;

		.result-category {
			max-width: none;
			width: auto;
		}
	}
}