@import "../themeColors";

#result_category {
	min-width: 320px;
	max-width: 500px;
	margin: 0 10px;
	margin-bottom: 20px;
	transition: height .3s ease-out;
	transition: width .5s ease-out;

	h2 {
		margin-bottom: 0;
		font-size: 1.5em;
		color: white;
		display: inline-block;
		font-weight: 700;
	}

	.result {			
		color: #232323;
		background-color: $primaryLighten5;
		margin: 10px 0;
		margin-top: 30px;
		padding: 10px 20px;
		padding-top: 0;
		display: flex;
		border-radius: 3px;

		&:hover {
			background-color: $primaryLighten3;
			cursor: pointer;
		}

		.result-content {
			flex: 1;

			h3 {
				margin-top: -15px;
				margin-bottom: 10px;
				margin-left: -5px;
				margin-right: 20px;
				padding: 7px 10px;
				display: block;
				float: left;
				clear: left;
				color: $primaryLighten5;
				background-color: $accentAccent2;
				transform: rotate(-2deg);
				box-shadow: 0 3px 6px rgba(0,0,0,0.18);
				word-wrap: break-word;
			}

			p:first-of-type {
				margin-top: 0;
			}

			p:last-of-type {
				margin-top: 10px;
			}

			p {
				clear: both;
				margin: 0;
			}

			.result-match {
				background-color: $accentAccent2;
				color: $primaryLighten4;
				padding: 0 1px;
				margin: 0 -2px;
			}
		}

		.md-icon {
		}
	}
}

@media screen and (max-width: 768px) {
	#result_category {
		display: block;
		max-width: 95%;

		h2 {
			margin-left: 10px;
		}

		.result-category {
			max-width: none;
			width: auto;
		}
	}
}