@import "themeColors";

#bug_report {
	margin: 0 auto;
	margin-bottom: 30px;
	overflow: hidden;

	
	.router-link-active {
		height: 46px;
	}
	
	h1 {
		margin: 30px 40px;
		font-size: 2.3em;
		color: #212121;
		text-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		z-index: 2;
		position: relative;
	}

	.color-block {
		position: absolute;
		width: 100%;
		background-color: $accentAccent2;
		height: 250px;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.content {
		position: relative;
		margin: 10px 40px;
		padding: 10px 0;
		background-color: $primaryLighten5;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
		border-radius: 3px;
		z-index: 2;

		h2 {
			padding: 0 40px;
			cursor: pointer;

			.md-icon {
				float: right;
				transition: transform .2s ease-out;
			}
		}

		hr {
			border: 0px solid black;
			border-top: 1px solid $primaryLighten2;
		}
	}

	form {
		padding: 0 40px;
		max-height: 0;
		overflow: hidden;
		transition: max-height .5s ease-out;
	}

	.error-ta {
		height: 100px !important;
	}

	.description-ta {
		height: 200px !important;
	}

	h4 {
		margin-top: 40px;
		margin-bottom: 0;
	}

	p {
		font-family: "OpenSansBold";
		margin-top: 50px;
		margin-bottom: -5px;
	}

	.md-button {
		margin-top: 20px;
	}

	.md-spinner {
		margin-top: 10px;
	}

	.opened {
		max-height: 1000px;

		.md-icon {
			transform: rotate(90deg);
		}
	}
}

@media screen and (max-width: 768px) {
	#bug_report {
		padding-bottom: 10px;

		h1 {
			margin-left: 10px;
		}

		.content {
			margin: 0;
		}
	}
}