@import "_themeColors";

#event_form {
	.calendar-button {
		position: absolute;
		right: 2%;
		top: 7%;
	}

	.form-content {
		margin-top: 50px;
	}

	h2 {
		margin-top: 20px;
		margin-left: 15px;
		color: $primaryDarken2;
	}

	.ui.fluid.search.selection.dropdown {
		height: 32px;
		line-height: 32px;
		margin-top: 14px;
		margin-left: 15px;
		padding: 0;
		padding-top: 5px;
		padding-right: 25px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $primaryLighten2;
		border-radius: 0;
		text-overflow: ellipsis;
		white-space: nowrap;

		input {
			padding-left: 0;
			padding-bottom: 0;
			
			vertical-align: baseline;
		}

		.text.default {
			margin-top: 5px;
			color: rgba(0, 0, 0, 0.54);
			font-size: 16px;
		}

		.menu.visible {
			border: none;
		}

		.dropdown.icon {
			padding-bottom: 0; 
		}

		.item {
			font-size: 1.05em;
			line-height: 1.3em;
		}

		.text {
			width: 100%;
			overflow: hidden;
			font-size: 16px;
			line-height: 32px;
			text-overflow: ellipsis;
		}
	}
	
	.ui.fluid.search.selection.dropdown.active {
		box-shadow: none;
	}

	.md-input-container {
		box-sizing: border-box;
		margin-left: 15px;
	}

	.single-band {
		width: 100%;

		.md-input-container {
			float: left;
			width: calc(100% - 65px);
		}

		.md-button {
			float: left;
			margin-left: 0;
			margin-top: 12px;
		}
	}

	.add-band-btn {
		margin-top: -5px;
		margin-bottom: 10px;
		margin-left: 10px;
	}

	textarea {
		height: 135px !important;
	}

	.picker {
		box-sizing: border-box;
		display: inline;
		padding: 3px 5px;
		font-size: 16px;
		line-height: 16px;
		border-radius: 4px;

		.vdatetime {
			display: inline;

			.vdatetime-popup__header {
				background-color: $accentDarken2;
			}

			.vdatetime-popup__date-picker__item--selected {
				span {
					span {
						background-color: $accentDarken2;
					}
				}
			}

			.vdatetime-popup__actions__button {
				color: $accentDarken2;
				font-weight: 500;
			}

			.vdatetime-popup__list-picker__item--selected {
				color: $accentDarken2;
			}
		}

		input {
			max-width: 100% !important;
			border: none;
			font-family: 'OpenSans';
			font-size: 1em;
			color: rgba(0, 0, 0, 0.54);
			margin-left: 10px;
			background-color: transparent;
			cursor: pointer;
			border-bottom: 1px solid $primaryLighten2;
		}
	}
}

@media screen and (max-width: 768px) {
	#event_form {
		h2 {
			margin-top: 40px;
		}

		.single-band {
			.md-input-container {
				// width: 65%;
			}
		}
	}
}