@import "themecolors";

#event_calendar {
	width: 100%;
	margin: 0 auto;
	float: left;
	box-sizing: border-box;

	h1 {
		margin: 35px 0;
		color: $primaryLighten4;
		//text-align: center;
		font-size: 2.8em;
		font-family: "Big John";
	}

	.event-calendar-content-wrapper {
		width: 95%;
		max-width: 1300px;
		margin: 0 auto;
	}

	.vdp-datepicker {
		width: 60%;
		float: left;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.vdp-datepicker__calendar {
			width: auto;
			border: none;
			background-color: $primaryLighten5;
			border-radius: 5px;
			overflow: hidden;

			& > div {
				padding: 5px 70px;
			}
		}

		header {
			margin-bottom: 15px;
			background-color: $accentDarken3;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			overflow: hidden;

			&:after {
				content: "";
				display: block;
				clear: both;
			}

			span {
				padding: 5px;
				color: white;
				background-color: $accentDarken3;

				&:hover {
					background-color: $accentDarken4;
				}
			}

			.up {
				font-size: 1.15em;
			}

			.prev {
				&:after {
					border-right: 10px solid white;
				}
			}

			.next {
				&:after {
					border-left: 10px solid white;
				}
			}
		}

		.day-header {
			font-size: 1.1em;
		}

		.day {
			height: auto;
			padding: 15px 0px;

			&:hover {
				border: none;
				background-color: #ddd;
				height: inherit;
			}
		}

		.selected {
			color: white;
			background-color: $accentDarken3;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			border-radius: 5px;

			&:hover {
				background-color: $accentDarken4;
			}
		}
	}

	.events {
		width: 38%;
		height: 100%;
		box-sizing: border-box;
		float: right;
		color: $primaryLighten5;
		background-color: $accentDarken3;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		h2 {
			text-align: center;
		}

		.no-events {
			width: 80%;
			margin: 0 auto;
			margin-bottom: 10px;
			padding: 15px 10px;
			text-align: center;
			font-size: 1em;
			background-color: $primaryLighten5;
			color: $accentDarken2;
			border-radius: 5px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

			.material-icons{
				display: block;
				font-size: 36px;
			}
		}

		.next-events {
			margin-top: 10px;
			margin-bottom: -10px;
			margin-left: 15px;
			font-size: 1em;
		}
	}
}

@media screen and (max-width: 1024px){
	#event_calendar {
		.event-calendar-content-wrapper{
			width: 80%;
	
			.vdp-datepicker {
				width: 100%;
				
				.vdp-datepicker__calendar {
					& > div {
						padding: 0;
					}
				}
	
				.day {
					padding: 5px;
				}
			}
	
			.events {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: 767px){

	#event_calendar {
		.event-calendar-content-wrapper{
			width: 98%;

			h1 {
				margin: 10px 0;
				font-size: 1.8em;
				line-height: 1.05em;
			}
				
			.vdp-datepicker {
				width: 100%;
				
				.vdp-datepicker__calendar {
					& > div {
						padding: 0;
					}
				}

				.day {
					padding: 5px;
				}
			}
	
			.events {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
}