@import "themecolors";

#event_calendar {
	width: 100%;
	margin: 0 auto;
	float: left;
	box-sizing: border-box;
	background-color: $primaryDarken4 !important;

	h1 {
		margin: 35px 0;
		color: $primaryLighten4;
		//text-align: center;
		font-size: 2.8em;
		font-family: "Big John";
	}

	.new-event-btn {
		font-weight: bold;
		right: 10px;
	}

	.event-calendar-content-wrapper {
		padding: 0 10%;
	}

	.vdp-datepicker {
		width: 60%;
		float: left;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.vdp-datepicker__calendar {
			width: auto;
			border: none;
			background-color: $primaryLighten5;
			border-radius: 5px;
			overflow: hidden;

			& > div {
				padding: 5px 70px;
			}
		}

		header {
			margin-bottom: 15px;
			background-color: $accentDarken3;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			overflow: hidden;

			&:after {
				content: "";
				display: block;
				clear: both;
			}

			span {
				padding: 5px;
				color: white;
				background-color: $accentDarken3;

				&:hover {
					background-color: $accentDarken4;
				}
			}

			.up {
				font-size: 1.15em;
			}

			.prev {
				&:after {
					border-right: 10px solid white;
				}
			}

			.next {
				&:after {
					border-left: 10px solid white;
				}
			}
		}

		.day-header {
			font-size: 1.1em;
		}

		.day {
			height: auto;
			padding: 15px 0px;

			&:hover {
				border: none;
				background-color: #ddd;
				height: inherit;
			}
		}

		.selected {
			color: white;
			background-color: $accentDarken3;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			border-radius: 5px;

			&:hover {
				background-color: $accentDarken4;
			}
		}
	}

	.events {
		width: 38%;
		height: 100%;
		box-sizing: border-box;
		float: right;
		color: white;
		background-color: $accentDarken3;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		h2 {
			text-align: center;
		}

		.event {
			margin: 15px;
			padding: 10px 15px;
			padding-top: 5px;
			position: relative;
			background-color: white;
			color: #222;
			border-radius: 5px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

			.event-title {
				width: 68%;
				float: left;
				margin-top: 15px;
				margin-bottom: 10px;
			}

			.event-date {
				float: right;
				width: 30%;
				margin-top: 15px;
				padding-right: 10px;
				text-align: right;
				font-weight: lighter;
				color: $primaryDarken1;
			}

			.event-description {
				clear: both;
				line-height: 1.2em;
				max-height: 2.4em;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&:before {
					content: "";
					width: 100%;
					height: 1px;
					margin-bottom: 15px;
					display: block;
					background-color: $primaryLighten3;
				}
			}
		}
	}
}

@media screen and (max-width: 768px){
	#event_calendar {
		width: 97%;
		margin: 0 auto;
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		.calendar-component-wrapper {
			padding: 5px;
			
			.vdp-datepicker {
				width: 100%;
				
				.vdp-datepicker__calendar {
					& > div {
						padding: 0;
					}
				}

				.day {
					padding: 0;
				}
			}
		}

		.events {
			width: 100%;
			margin-top: 20px;
		}
	}
}