@import "_themeColors";

#location_form {
	h2 {
		padding-left: 15px;
		margin-bottom: 0;
		color: $primaryDarken2;
	}

	.form-content {
		margin-top: 50px;
	}

	.md-input-container {
		box-sizing: border-box;
		margin-left: 15px;
	}
}