@import "themeColors";

#new_location {
	position: relative;
	width: 800px;
	max-width: 95%;
	margin: 0 auto;
	margin-top: 50px;
	padding: 40px;
	background-color: white;
	color: $primaryDarken2;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	h2 {
		padding-left: 15px;
		margin-bottom: 0;
	}

	.new-event-button {
		position: absolute;
		top: 2%;
		right: 2%;
	}

	.form-content {
		margin-top: 50px;
	}

	.md-input-container {
		box-sizing: border-box;
		margin-left: 15px;
		color: $primaryDarken2 !important;

		&:after {
			background-color: $primaryDarken2;
		}

		label {
			color: $primaryDarken2 !important;
		}
	}

	.md-input {
		color: $primaryDarken2 !important;
	}

	.md-input-focused {
		input {
			color: $primaryDarken2 !important;
		}
	}

	.md-button {
		margin-top: 20px;
		margin-left: 15px;
	}

	.message {
		width: 40%;
		min-width: 300px;
		margin: 0 auto;
		margin-top: 15px;
		padding: 10px;
		display: block;
		text-align: center;
		font-size: 1.4em;
		line-height: 1.3em;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		color: white;
	}

	.success {
		background-color: green;
	}

	.error {
		background-color: red;
	}

}