@import "themeColors";

#new_event {
	width: 800px;
	max-width: 95%;
	margin: 0 auto;
	margin-top: 50px;
	padding: 40px;
	background-color: $accentAccent1;
	color: $primaryLighten4;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	.form-content {
		margin-top: 50px;
	}

	.md-input-container {
		box-sizing: border-box;
		margin-left: 15px;
		color: $primaryLighten4 !important;

		&:after {
			background-color: $primaryLighten4;
		}

		label {
			color: $primaryLighten4 !important;
		}
	}

	.md-input {
		color: $primaryLighten4 !important;
	}

	.md-input-focused {
		input {
			color: $primaryLighten4 !important;
		}
	}

	textarea {
		height: 135px !important;
		color: $primaryLighten4;
	}

	.picker {
		box-sizing: border-box;
		margin-left: 15px;
		display: block;
		padding: 5px;
		font-size: 16px;
		line-height: 16px;
		border-radius: 4px;

		label {
			font-size: 1.2em;
			color: $primaryLighten4;
		}

		.datepickbox {
			width: 100%;
		}

		input {
			max-width: 100% !important;
			border: none;
			font-size: 1em;
			color: $primaryLighten4;
			margin-left: 10px;
			border-bottom: 1px solid $accentLighten4;
			background-color: transparent;
			cursor: pointer;
		}
	}

	.md-button {
		margin-top: 20px;
		margin-left: 15px;
	}

	.message {
		font-size: 1.4em;
		display: block;
		width: 100%;
		text-align: center;
	}

	.success {
		color: green;
	}

	.error {
		color: red;
	}

}