@import "./themeColors";

#sidenav {

	.mobile-toggle-btn {
		display: none;
	}

	.menu-items-list {
		position: fixed;
		left: 0;
		width: 80px;
		height: 100%;
		padding: 10px 20px;
		display: inline;
		background-color: #232323;
		z-index: 3;
		transition: width .3s ease-out, padding .2s ease-out;
		float: left;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

		.menu-item {
			width: 100%;
			margin-bottom: 35px;
			height: 40px;
			overflow: hidden;

			.md-icon {
				width: 40px;
				height: 40px;
				font-size: 40px;
				color: $accentAccent2;
				text-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
				transition: transform .3s ease-out;
			}

			span {
				opacity: 0;
				margin-left: 15px;
				font-size: 1.15em;
				color: $accentAccent2;
				font-family: 'OpenSansBold';
				transition: opacity .3s ease-out;
			}

			&:hover {
				.md-icon, span {
					color: $accentAccent3;
				}
			}
		}
	}

	
	.toggle-menu-btn {
		height: 50px !important;
		margin-bottom: 25px;
		cursor: pointer;

		span {
			opacity: 1 !important;
			margin-left: 0;
		}

		.hamburger {
			padding: 15px 0;
			margin-left: -30px;
		}
	}

}

.expanded {
	.menu-items-list {
		width: 250px !important;

		.menu-item {
			span {
				opacity: 1 !important;
			}
		}
	}
}

@media screen and (max-width: 768px){
	#sidenav {
		.menu-items-list {
			width: 0%;
			padding: 0;
		}

		.toggle-menu-btn {
			display: none;
		}

		.mobile-toggle-btn {
			display: block;
			position: relative;
			background-color: #232323;
			padding: 0 5px;
			width: 100%;
			transition: all .4s ease-out;
			z-index: 3;

			.hamburger {
				padding: 9px 3px;
				padding-top: 11px;
				margin-left: 10px;

				.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
					width: 35px;
				}
			}

			&:hover {
				.md-icon {
					color: #232323;
				}
			}

			.md-icon {
				color: #232323;
			}
		}
	}

	.expanded {
		.menu-items-list {
			width: 100%;
			padding: 20px !important;
		}
	}
}