@import "./themeColors";

#sidenav {
	position: fixed;
	left: 0;
	width: 80px;
	height: 100%;
	padding: 10px 20px;
	display: inline;
	background-color: #232323;
	z-index: 3;
	transition: width .3s ease-out, padding .2s ease-out;
	float: left;
	box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);

	.menu-item {
		width: 100%;
		margin-bottom: 40px;
		height: 40px;
		overflow: hidden;

		.md-icon {
			width: 40px;
			height: 40px;
			font-size: 40px;
			color: $accentAccent2;
			text-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
			transition: transform .3s ease-out;
		}

		span {
			opacity: 0;
			margin-left: 15px;
			font-size: 1.15em;
			color: $accentAccent2;
			font-family: 'OpenSansBold';
			transition: opacity .3s ease-out;
		}

		&:hover {
			.md-icon, span {
				color: $accentAccent3;
			}
		}
	}

	
	.toggle-menu-btn {
		cursor: pointer;
	}

}

.expanded {
	width: 250px !important;

	.toggle-menu-btn {
		i {
			transform: rotate(90deg);
		}
	}

	.menu-item {
		span {
			opacity: 1 !important;
		}
	}
}

@media screen and (max-width: 768px){
	#sidenav {
		width: 0%;
		padding: 0;

		.toggle-menu-btn {
			position: fixed;
			bottom: -10px;
			right: 10px;
			background-color: $accentAccent2;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			padding: 5px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
			transition: background-color .4s ease-out;

			.md-icon {
				color: #232323;
			}
		}
	}

	.expanded {
		width: 100%;
		padding: 20px !important;
	}
}