$primary: #9E9E9E;
$primaryLighten1: #BDBDBD;
$primaryLighten2: #E0E0E0;
$primaryLighten3: #EEEEEE;
$primaryLighten4: #F5F5F5;
$primaryLighten5: #FAFAFA;
$primaryDarken1: #757575;
$primaryDarken2: #616161;
$primaryDarken3: #424242;
$primaryDarken4: #212121;


$accent: #F44336;
$accentLighten5: #FFEBEE;
$accentLighten4: #FFCDD2;
$accentLighten3: #EF9A9A;
$accentLighten2: #E57373;
$accentLighten1: #EF5350;
$accentDarken1: #E53935;
$accentDarken2: #D32F2F;
$accentDarken3: #C62828;
$accentDarken4: #B71C1C;
$accentAccent1: #FF8A80;
$accentAccent2: #FF5252;
$accentAccent3: #FF1744;
$accentAccent4: #D50000;
