@import "themeColors";


#topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
	z-index: 4;
	
	.md-toolbar {
		background-color: $accentDarken2;
		width: 100%;
	}
	
	.topbar-btn {
		margin: 0;
		padding: 3px 15px;
		font-size: 1em;
		font-weight: bold;
		color: $primaryDarken4;

		.md-icon {
			font-size: 30px;
			min-width: 0;
			min-height: 0;
			height: auto;
			width: auto;
			text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
		}

		&:hover {
			color: #000000;
		}
	}
}

@media screen and (max-width: 768px) {
	#topbar {
		.topbar-btn {
			padding: 3px 5px;
			min-width: 55px;
			.md-icon {
				// font-size: 3px;
			}
		}

		.spacer {
			// display: none;
		}
	}
}