@import "themeColors";
@import "hamburgers/hamburgers";

@font-face {
	font-family: "Icomoon";
	src: url("/static/fonts/icomoon.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	src: url("/static/fonts/Open_Sans/OpenSans.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansBold";
	src: url("/static/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "OpenSansLight";
	src: url("/static/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
	font-weight: lighter;
}

@font-face {
	font-family: "OpenSansBlack";
	src: url("/static/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
	font-weight: 900;
}

body {
	font-family: "OpenSans", sans-serif;
	overflow-x: hidden;
	//Nicer ton #efadaa
}

h1 {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}

h2, h3, h4, h5 {
	font-family: "OpenSansBold", sans-serif;
}

body, html {
	margin: 0;
	padding: 0;
}

a {
	&:hover {
		text-decoration: none !important;
	}
}

#app {
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: $primaryLighten4;
}

.router-view-container {
	width: calc(100% - 80px);
	min-height: 100%;
	margin-left: 80px;
}

.md-dialog {
	max-height: 90%;
}

.close-btn {
	position: absolute;
	top: 2%;
	right: 2%;
	margin: 0 !important;
	width: auto;
	height: auto;

	i {
		font-size: 36px;
		width: auto;
		height: auto;
	}
}

.content-dialog .md-dialog {
	overflow: visible;
}

.unscrollable {
	overflow: hidden;
}

@media screen and (max-width: 768px){
	.router-view-container {
		margin-left: 0;
		width: 100%;
	}

	.md-dialog {
		max-height: 100% !important;
		max-width: 100% !important;
	}
	
	.content-dialog {
		.md-dialog {
			height: 100%;
		}
	}
}

