@import "themeColors";
@import "hamburgers/hamburgers";

@font-face {
	font-family: "Icomoon";
	src: url("/static/fonts/icomoon.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	src: url("/static/fonts/OpenSans.woff2") format("woff2");
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansBold";
	src: url("/static/fonts/OpenSans-Bold.woff2") format("woff2");
	font-weight: bold;
}
body {
	font-family: "OpenSans", sans-serif;
	overflow-x: hidden;
	//Nicer ton #efadaa
	font-size: 13px !important;
}

h1 {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}

h2, h3, h4, h5 {
	font-family: "OpenSansBold", sans-serif;
}

body, html {
	margin: 0;
	padding: 0;
}

a {
	&:hover {
		text-decoration: none !important;
	}
}

#app {
	width: 100%;
	min-height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: $primaryLighten4;
}

.router-view-container {
	width: calc(100% - 80px);
	min-height: calc(100vh - 60px);
	margin-left: 80px;
}

.md-dialog {
	max-height: 90%;
}

.md-snackbar {
	padding-bottom: 30px;
	.md-snackbar-container {
		padding: 20px;
		background-color: $accentAccent2;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.md-snackbar-content {
			button {
				color: $primaryLighten4 !important;
			}
		}
	}
}

.loading {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 20;

	.darken {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #232323;
		opacity: 0.6;
	}

	.md-spinner {
		position: absolute;
		top: calc(50% - 25px);
		left: calc(50% - 25px);
		display: block;
		margin: 0 auto;
	}
}

.close-btn {
	top: 15px;
	right: 3%;
	width: auto;
	height: auto;
	position: absolute !important;
	margin: 0 !important;
	z-index: 2;

	i {
		font-size: 36px;
		width: auto;
		height: auto;
	}
}

.content-dialog .md-dialog {
	overflow: visible;
}

.unscrollable {
	overflow: hidden;
}

.router-view {
}

.slide-in-enter-active, .slide-in-leave-active, .slide-out-enter-active, .slide-out-leave-active {
	transition: all .3s ease-out;
}

.slide-in-enter {
	position: absolute !important;
	transform: translateX(100%);
}

.slide-in-leave-to {
	position: absolute !important;
	transform: translateX(-100%);
}

.slide-out-enter {
	position: absolute !important;
	transform: translateX(-100%);
}

.slide-out-leave-to {
	position: absolute !important;
	transform: translateX(100%);
}

.vdatetime {
	display: inline;

	.vdatetime-popup__header {
		background-color: $accentDarken2;
	}

	.vdatetime-calendar__month__day--selected {
		span {
			span {
				background-color: $accentDarken2 !important;
			}
		}
	}

	.vdatetime-time-picker__item--selected, .vdatetime-year-picker__item--selected {
		color: $accentDarken2;
	}

	.vdatetime-popup__actions__button {
		color: $accentDarken2;
		font-weight: 500;
	}
}

// All of this needs to be important as the plugin's default styles would overwrite these after building the app.
.form-v-select {
	width: 100% !important;
	
	.dropdown-toggle {
		border: none !important;
	}

	.selected-tag {
		position: absolute !important;
		left: 0 !important;
		width: 100% !important;
		padding-right: 20px !important;
		overflow: hidden !important;
		white-space: nowrap !important;
		text-overflow: ellipsis !important;
	}

	input {
		display: block !important;
		width: 100% !important;
	}

	.dropdown-menu {
		li {
			margin-top: 0 !important;
			line-height: 1.6em !important;

			a {
				width: 100% !important;
				padding: 10px !important;
				overflow: hidden !important;
				color: $primaryDarken4 !important;
			}

			&:hover {
				color: $primaryLighten4 !important;
				background-color: $primaryLighten3 !important;
			}
		}

		.no-options {
			color: $primaryDarken4 !important;
			&:hover {
				color: $primaryDarken4 !important;
				background-color: transparent !important;
			}

			b {
				color: $accentDarken2;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.highlight{
			color: $primaryLighten4 !important;
			a {
				background-color: $accentDarken2 !important;
				color: $primaryLighten5 !important;
			}
		}

		.active {
			color: $primaryLighten4 !important;
			background-color: $primaryLighten3 !important;
		}
	}
}

@media screen and (max-width: 768px){
	.router-view-container {
		margin-left: 0;
		width: 100%;
		min-height: calc(100vh - 110px);
	}

	.md-dialog {
		max-height: 100% !important;
		max-width: 100% !important;
	}
	
	.content-dialog {
		.md-dialog {
			height: 100%;
		}
	}
}

