@import "../themeColors";

#single_event{
	margin: 15px;
	padding-bottom: 10px;
	position: relative;
	background-color: $primaryLighten5;
	color: $primaryLighten4;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: hidden;

	&:last-of-type {
		margin-bottom: 0;
	}

	.color-block {
		height: 50px;
	}

	.upper-information {
		display: flex;
		overflow: auto;
	}

	.event-title {
		width: 70%;
		float: left;
		margin: 0;
		padding: 10px 15px;
		position: relative;
		background-color: #232323;
		text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	.event-date {
		float: right;
		width: 30%;
		margin: 0;
		padding: 10px 15px;
		padding-right: 10px;
		position: relative;
		background-color: #232323;
		text-align: right;
		font-family: "OpenSansBold";
	}

	.event-location, .event-description {
		margin: 0;
		padding: 10px 15px;
		clear: both;
		color: #232323;
		
		span {
			font-family: "OpenSansBold";
		}
	}

	.event-description {
		padding-top: 0;
		line-height: 18px;
		max-height: 44px;
		overflow: hidden;
	}
}